<div class="card h-100">
  <div class="card-body" style="position: relative">
    <div class="mt-2 mb-1 ms-1">
      <div class="d-flex flex-row align-items-center">
        <cura-portrait [initials]="initials()"></cura-portrait>
        <p class="fs-5 p-0 my-0 text-truncate">{{ customer().lastName }}, {{ customer().firstName }}</p>
      </div>
      <ul class="card-text list-unstyled mt-2 pt-1 ms-2 border-top text-truncate">
        @if (customer().phone != '') {
        <li><fa-icon [icon]="['fas', 'phone']" [fixedWidth]="true" /> {{ customer().phone }}</li>
        }
        <li><fa-icon [icon]="['fas', 'house']" [fixedWidth]="true" /> {{ customer().street }} - {{ customer().zipCode }} {{ customer().city }}</li>
        @if (customer().associatedEmployeeName) {
        <li><fa-icon [icon]="['far', 'user']" [fixedWidth]="true" /> {{ customer().associatedEmployeeName }}</li>
        }
      </ul>
    </div>
    <!-- buttons -->
    <div class="input-group button-tab">
      @if (customer().latitude != 0 && customer().longitude != 0) {
      <a (click)="onNavigate.emit(customer()); $event.stopPropagation()" class="btn btn-outline-secondary btn-sm" title="Navigation zum Kunden">
        <fa-icon [icon]="['fas', 'location-dot']" [fixedWidth]="true" />
      </a>
      } @if (customer().phone != '') {
      <a
        (click)="$event.stopPropagation()"
        href="tel:{{ customer().phone | replace : ' ' : '' }}"
        class="btn btn-outline-secondary btn-sm"
        title="Kunden anrufen"
      >
        <fa-icon [icon]="['fas', 'phone']" [fixedWidth]="true" />
      </a>
      }
      <button type="button" class="btn btn-outline-secondary btn-sm" title="Kunden bearbeiten">
        <fa-icon [icon]="['fas', 'gear']" [fixedWidth]="true" />
      </button>
      @if (isManager()) {
      <!-- delete customer -->
      @if(customer().status != customerStatus.Former) {
      <button
        type="button"
        (click)="onDelete.emit(customer()); $event.stopPropagation()"
        class="btn btn-outline-secondary btn-sm"
        title="Kunden löschen"
      >
        <fa-icon [icon]="['far', 'trash-can']" [fixedWidth]="true" />
      </button>
      }
      <!-- shortcut menu -->
      @if(customer().status == customerStatus.Customer) {

      <div class="btn-group" ngbDropdown role="group" (click)="$event.stopPropagation()">
        <button type="button" class="btn btn-outline-secondary btn-sm" ngbDropdownToggle>
          <fa-icon [icon]="['fas', 'ellipsis']" [fixedWidth]="true" />
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem (click)="onShowAppointments.emit(customer())">Termine</button>
          <button ngbDropdownItem [routerLink]="['/dashboard/budgets', customer().id]">Budgets</button>
          <button ngbDropdownItem (click)="onShowDeploymentReports.emit(customer())">Einsatznachweise</button>
          <button ngbDropdownItem (click)="onShowInvoices.emit(customer())">Rechnungen</button>
        </div>
      </div>
      } }
    </div>
  </div>
</div>
