<div class="container p-4">
  <div class="row">
    <h4 *ngIf="isNew">Mitarbeiter hinzufügen</h4>
    <h4 *ngIf="!isNew">Mitarbeiter bearbeiten</h4>
    <form (ngSubmit)="handleSave()" [formGroup]="employeeForm">
      <div class="form-group">
        <label for="inputEmail">E-Mail Adresse</label>
        <ngx-skeleton-loader *ngIf="isLoading" />
        <input
          *ngIf="!isLoading"
          type="email"
          class="form-control"
          id="inputEmail"
          [ngClass]="{
            'is-valid': employeeForm.controls['email'].valid,
            'is-invalid': employeeForm.controls['email'].invalid && employeeForm.controls['email'].touched
          }"
          formControlName="email"
          aria-describedby="emailHelp"
          placeholder="E-Mail Adresse eingeben"
        />
        <small id="emailHelp" class="form-text text-muted">Das Password wird automatisch an diese Adresse geschickt.</small>
      </div>
      <div class="form-group">
        <label for="inputFirstName">Vorname</label>
        <ngx-skeleton-loader *ngIf="isLoading" />
        <input
          *ngIf="!isLoading"
          type="text"
          class="form-control"
          formControlName="firstName"
          id="inputFirstName"
          [ngClass]="{
            'is-valid': employeeForm.controls['firstName'].valid,
            'is-invalid': employeeForm.controls['firstName'].invalid && employeeForm.controls['firstName'].touched
          }"
          placeholder="Vorname eingeben"
        />
      </div>
      <div class="form-group">
        <label for="inputLastName">Nachname</label>
        <ngx-skeleton-loader *ngIf="isLoading" />
        <input
          *ngIf="!isLoading"
          type="text"
          [ngClass]="{
            'is-valid': employeeForm.controls['lastName'].valid,
            'is-invalid': employeeForm.controls['lastName'].invalid && employeeForm.controls['lastName'].touched
          }"
          class="form-control"
          formControlName="lastName"
          id="inputLastName"
          placeholder="Nachname eingeben"
        />
      </div>
      <div class="form-group">
        <label for="inputPhone">Telefonnummer</label>
        <ngx-skeleton-loader *ngIf="isLoading" />
        <input
          *ngIf="!isLoading"
          type="text"
          class="form-control"
          id="inputPhone"
          [ngClass]="{
            'is-valid': employeeForm.controls['phone'].valid && employeeForm.controls['phone'].value != '',
            'is-invalid': employeeForm.controls['phone'].invalid && employeeForm.controls['phone'].touched
          }"
          formControlName="phone"
          placeholder="Telefonnummer eingeben"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Mitarbeiterrolle</label>
        <ngx-skeleton-loader *ngIf="isLoading" />
        <select *ngIf="!isLoading" formControlName="role" class="form-control" id="exampleFormControlSelect1">
          <option value="employee">Mitarbeiter</option>
          <option value="manager">Manager</option>
        </select>
      </div>

      <button [disabled]="!employeeForm.valid || isLoading || isSaving" type="submit" class="btn btn-primary text-white">
        <span *ngIf="isSaving" class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
        <span>Mitarbeiter {{ isNew ? "hinzufügen" : "speichern" }}</span>
        <span *ngIf="isSaving">...</span>
      </button>
      <button type="button" [routerLink]="['/dashboard/employee']" class="btn btn-outline-secondary m-3">Verwerfen</button>
    </form>
  </div>
</div>
