:host {
  background-color: #eee;
  height: 100%;
  display: block;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100% !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
