<div class="container" style="height: 100vh">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-10">
      <div class="card rounded-3">
        <div class="row g-0">
          <div class="col-lg-6">
            <div class="card-body p-md-3 mx-md-4">
              <div class="text-center">
                <img ngSrc="../assets/img/logo.svg" width="120" height="120" alt="logo" priority />
                <h4 class="mt-1 mb-3 pb-1">Willkommen bei Curacaru</h4>
                <button type="button" (click)="handleLogin()" class="btn btn-primary text-white">Melde dich jetzt an</button>

                <p class="small mt-5 mb-0">Du möchtest Curacaru auch in deinem Dienst nutzen?</p>
                <a (click)="handleRegister()" href="#" class="link-primary small">Klicke hier zum Registrieren!</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center gradient">
            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
              <h4 class="mb-4">Mehr Zeit für die Betreuung, mehr Zeit für den Menschen.</h4>
              <p class="small mb-0">
                Unsere intuitive Curacaru-Software im Betreuungsbereich revolutioniert dein Arbeitsleben und unterstützt dich dabei, noch effektiver
                und effizienter zu sein. Reduziere Verwaltungsaufwand und spare kostbare Zeit!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
