<div class="row">
  <h4>Termine</h4>
  <button type="button" [routerLink]="['/dashboard/appointments/new']" class="btn btn-primary text-white btn-block mb-3">Termin hinzufügen</button>

  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-sm-12 col-md-5 col-xl-4">
        <div class="form-group">
          <label for="dpFromDate">Datum</label>
          <div class="input-group">
            <div class="dp-hidden position-absolute">
              <input
                name="datepicker"
                class="form-control"
                ngbDatepicker
                #datepicker="ngbDatepicker"
                [autoClose]="'outside'"
                (dateSelect)="onDateSelection($event)"
                (closed)="onSelectionChanged()"
                [displayMonths]="1"
                [dayTemplate]="t"
                outsideDays="hidden"
                [startDate]="fromDate!"
                tabindex="-1"
              />
              <ng-template #t let-date let-focused="focused">
                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
            <input (change)="onSelectionChanged()" #dpFromDate class="form-control" placeholder="dd.mm.yyyy" name="dpFromDate" [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)" />
            <input (change)="onSelectionChanged()" #dpToDate class="form-control" placeholder="dd.mm.yyyy" name="dpToDate" [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" />
            <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button"><fa-icon [icon]="faCalendar" [fixedWidth]="true" /></button>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md">
        <div class="form-group">
          <label for="dpFromDate">Kunde</label>
          <select class="form-select" name="customerSelect" [(ngModel)]="selectedCustomerId" (change)="onSelectionChanged()">
            <option></option>
            @for (customer of customers; track customer) {
            <option [value]="customer.id">{{ customer.firstName }} {{ customer.lastName }}</option>
            }
          </select>
        </div>
      </div>

      @if (isManager) {
      <div class="col-xs-12 col-sm-12 col-md">
        <div class="form-group">
          <label for="dpFromDate">Mitarbeiter</label>
          <select class="form-select" name="employeeSelect" [(ngModel)]="selectedEmployeeId" (change)="onSelectionChanged()">
            <option></option>
            @for (employee of employees; track employee) {
            <option [value]="employee.id">{{ employee.name }}</option>
            }
          </select>
        </div>
      </div>
      }
    </div>
  </div>

  <table class="d-none d-md-table table mt-3 table-striped">
    <thead>
      <tr>
        <th class="text-center" scope="col">Datum</th>
        <th class="text-center" scope="col">Uhrzeit</th>
        <th scope="col">Kunde</th>
        <th scope="col">Stadt</th>
        <th scope="col">Bearbeitung</th>
        <th scope="col">Vertretung</th>
        <th class="text-center" scope="col">Status</th>
        <th scope="col">Aktion</th>
      </tr>
    </thead>

    <tbody>
      @if (isLoading) { @for (_ of [].constructor(3); track _) {
      <tr>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td></td>
      </tr>
      } } @for (appointment of appointments; track appointment) {
      <tr>
        <td class="text-center">{{ appointment.date | date : "dd.MM.yyyy" }}</td>
        <td class="text-center">{{ appointment.timeStart | timeFormat }}-{{ appointment.timeEnd | timeFormat }}</td>
        <td>{{ appointment.customerName }}</td>
        <td>{{ appointment.city }}</td>
        <td>{{ appointment.employeeName }}</td>
        <td>{{ appointment.employeeReplacementName }}</td>
        <td class="text-center"><img width="16" height="16" [class.bg-success]="appointment.isDone" [class.bg-danger]="!appointment.isDone" style="border-radius: 8px" /></td>
        <td>
          <div class="btn-group" role="group">
            @if (appointment.street != '' && appointment.zipCode != '') {
            <a href="https://www.google.com/maps/search/?api=1&query={{ appointment.street | replace : ' ' : '+' }}+{{ appointment.zipCode }}" target="_blank" class="btn btn-outline-secondary btn-sm" title="Mitarbeiter bearbeiten">
              <fa-icon [icon]="faLocationDot" [fixedWidth]="true" />
            </a>
            }
            <button type="button" [routerLink]="['/dashboard/appointments', appointment.id]" class="btn btn-outline-secondary btn-sm" title="Termin bearbeiten">
              <fa-icon [icon]="faGear" [fixedWidth]="true" />
            </button>
            <button type="button" (click)="onDelete(appointment)" class="btn btn-outline-secondary btn-sm" title="Termin löschen">
              <fa-icon [icon]="faTrashCan" [fixedWidth]="true" />
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="d-md-none p-0">
    @for (appointment of appointments; track appointment) {
    <div class="card my-3">
      <div class="card-header d-flex align-content-start p-2">
        <img class="me-2" width="10" [class.bg-success]="appointment.isDone" [class.bg-danger]="!appointment.isDone" />
        <span class="text-truncate">
          <span class="fw-light"> {{ appointment.date | date : "dd.MM.yyyy" }}<br /></span>
          <span class="fw-bold">{{ appointment.timeStart | timeFormat }}-{{ appointment.timeEnd | timeFormat }}</span>
        </span>
        <div class="btn-group ms-auto d-inline" role="group" style="opacity: 0.7">
          @if (appointment.latitude != 0 && appointment.longitude != 0) {
          <a href="geo:{{ appointment.latitude }},{{ appointment.longitude }}?q={{ appointment.street | replace : ' ' : '+' }}+{{ appointment.zipCode }}" class="btn btn-outline-secondary btn-sm" title="Navigation zum Kunden">
            <fa-icon [icon]="faLocationDot" [fixedWidth]="true" />
          </a>
          } @if (appointment.phone != '') {
          <a href="tel:{{ appointment.phone | replace : ' ' : '' }}" class="btn btn-outline-secondary btn-sm" title="Kunden anrufen">
            <fa-icon [icon]="faPhone" [fixedWidth]="true" />
          </a>
          }
          <button type="button" [routerLink]="['/dashboard/appointments', appointment.id]" class="btn btn-outline-secondary btn-sm" title="Mitarbeiter bearbeiten">
            <fa-icon [icon]="faGear" [fixedWidth]="true" />
          </button>
          <button type="button" (click)="onDelete(appointment)" class="btn btn-outline-secondary btn-sm" title="Mitarbeiter löschen">
            <fa-icon [icon]="faTrashCan" [fixedWidth]="true" />
          </button>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ appointment.customerName }}</h5>
        <ul class="card-text list-unstyled">
          @if (appointment.employeeReplacementName != '') {
          <li><fa-icon [icon]="faUserSolid" [fixedWidth]="true" /> {{ appointment.employeeReplacementName }}</li>
          }
          <li><fa-icon [icon]="faUser" [fixedWidth]="true" /> {{ appointment.employeeName }}</li>
          <li><fa-icon [icon]="faHouse" [fixedWidth]="true" /> {{ appointment.street }} - {{ appointment.zipCode }} {{ appointment.city }}</li>
          @if (appointment.phone != '') {
          <li><fa-icon [icon]="faPhone" [fixedWidth]="true" /> {{ appointment.phone }}</li>
          }
        </ul>
      </div>
      @if (!appointment.isDone) {
      <div class="card-footer">
        <!-- <button type="button" (click)="onFinish(appointment)" class="btn btn-outline-secondary btn-sm me-2" title="Termin abschließen">
          <fa-icon [icon]="faFileSignature" [fixedWidth]="true" />
          Mitarbeiter
        </button>
        <button type="button" (click)="onFinish(appointment)" class="btn btn-outline-secondary btn-sm me-2" title="Termin abschließen">
          <fa-icon [icon]="faFileSignature" [fixedWidth]="true" />
          Kunde
        </button> -->
        <button type="button" (click)="onFinish(appointment)" class="btn btn-outline-secondary btn-sm" title="Termin abschließen"><fa-icon [icon]="faCheck" [fixedWidth]="true" /> Abschließen</button>
      </div>
      }
    </div>
    }
  </div>

  @if (appointments.length == 0) {
  <div class="alert alert-secondary mt-3" role="alert"><fa-icon [icon]="faCircleInfo" /> Es wurden keine Termine gefunden.</div>
  }
</div>
