<div class="row">
  <h4>Termine</h4>
  @if((showPriceInfo$ |async) === true) {
  <div class="alert alert-secondary">
    <fa-icon [icon]="faCircleInfo" [fixedWidth]="true" />
    <span class="my-3">Bitte fülle erst die <a routerLink="/dashboard/company">Unternehmensdaten</a> aus. Dann kannst du Termine vergeben.</span>
  </div>
  } @else {
  <button
    type="button"
    [routerLink]="['/dashboard/appointments/new']"
    [queryParams]="{
      date: DateTimeService.toDateString(fromDate!),
      customerId: filterForm.get('customerId')?.value,
      employeeId: filterForm.get('employeeId')?.value
    }"
    class="btn btn-primary text-white btn-block mb-3"
  >
    Termin hinzufügen
  </button>
  @if(filterModel$ | async; as filterModel) {
  <form [formGroup]="filterForm">
    <div class="form-group p-0">
      <label class="fw-light" for="dpFromDate">Datum</label>
      <div class="input-group">
        <div class="dp-hidden position-absolute">
          <input
            name="datepicker"
            class="form-control"
            ngbDatepicker
            #datepicker="ngbDatepicker"
            [autoClose]="'outside'"
            (dateSelect)="onDateSelection($event)"
            [displayMonths]="1"
            [dayTemplate]="t"
            outsideDays="hidden"
            [startDate]="fromDate!"
            tabindex="-1"
          />
          <ng-template #t let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>
        </div>
        <input
          (click)="datepicker.toggle()"
          readonly
          [value]="filterForm.get('start')?.value | ngbDate"
          class="form-control"
          placeholder="tt.mm.jjjj"
        />
        <input
          (click)="datepicker.toggle()"
          readonly
          class="form-control"
          [value]="filterForm.get('end')?.value | ngbDate"
          placeholder="tt.mm.jjjj"
        />
        <button id="dpFromDate" class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
          <fa-icon [icon]="faCalendar" [fixedWidth]="true" />
        </button>
      </div>
    </div>

    <div class="form-group p-0">
      <label class="fw-light" for="selectCustomer">Kunde</label>
      <select id="selectCustomer" class="form-select" name="customerSelect" formControlName="customerId">
        <option></option>
        @for (customer of filterModel.customers; track customer) {
        <option [value]="customer.id">{{ customer.lastName }}, {{ customer.firstName }}</option>
        }
      </select>
    </div>

    @if (filterModel.user.isManager) {
    <div class="form-group p-0">
      <label class="fw-light" for="selectEmployee">Mitarbeiter</label>
      <select id="selectEmployee" class="form-select" name="employeeSelect" formControlName="employeeId">
        <option></option>
        @for (employee of filterModel.employees; track employee) {
        <option [value]="employee.id">{{ employee.name }}</option>
        }
      </select>
    </div>

    }
  </form>

  @if(dataModel$ | async; as dataModel) {
  <!-- check if appointments are present -->
  @if(dataModel.appointments.length > 0 ) {

  <table class="d-none d-md-table table mt-3 table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th class="text-center" scope="col">Datum</th>
        <th class="text-center" scope="col">Uhrzeit</th>
        <th scope="col">Kunde</th>
        <th scope="col">Stadt</th>
        <th scope="col">Bearbeitung</th>
        <th scope="col">Vertretung</th>
        <th class="text-center" scope="col">Status</th>
        <th scope="col">Aktion</th>
      </tr>
    </thead>

    <tbody>
      @for (appointment of dataModel.appointments; track appointment) {
      <tr>
        <td class="text-center">@if(appointment.isBirthday) { <fa-icon [icon]="faCakeCandles" [fixedWidth]="true" /> }</td>
        <td class="text-center">{{ appointment.date | date : "dd.MM.yyyy" }}</td>
        <td class="text-center">{{ appointment.timeStart | timeFormat }}-{{ appointment.timeEnd | timeFormat }}</td>
        <td>{{ appointment.customerName }}</td>
        <td>{{ appointment.city }}</td>
        <td>{{ appointment.employeeName }}</td>
        <td>{{ appointment.employeeReplacementName }}</td>
        <td class="text-center">
          <div
            width="16"
            height="16"
            [class.bg-secondary]="appointment.hasBudgetError || appointment.isPlanned"
            [class.bg-success]="!(appointment.hasBudgetError || appointment.isPlanned) && appointment.isDone"
            [class.bg-danger]="!(appointment.hasBudgetError || appointment.isPlanned) && !appointment.isDone"
            class="status-bullet"
          ></div>
        </td>
        <td>
          <div class="btn-group" role="group">
            @if (appointment.street != '' && appointment.zipCode != '') {
            <a
              (click)="onOpenAppointmentLocation(appointment)"
              target="_blank"
              class="btn btn-outline-secondary btn-sm"
              title="Navigation zum Termin"
            >
              <fa-icon [icon]="faLocationDot" [fixedWidth]="true" />
            </a>
            }
            <button
              type="button"
              [routerLink]="['/dashboard/appointments', appointment.id]"
              class="btn btn-outline-secondary btn-sm"
              title="Termin bearbeiten"
            >
              <fa-icon [icon]="faGear" [fixedWidth]="true" />
            </button>
            @if (!appointment.isDone && appointment.date > beginOfCurrentMonth) {
            <button type="button" (click)="onDelete(appointment)" class="btn btn-outline-secondary btn-sm" title="Termin löschen">
              <fa-icon [icon]="faTrashCan" [fixedWidth]="true" />
            </button>
            }
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="d-md-none p-0">
    @for (appointment of dataModel.appointments; track appointment) {
    <div class="card my-3">
      <div class="card-header d-flex align-content-start p-2">
        <img
          class="me-2"
          width="10"
          [class.bg-secondary]="appointment.hasBudgetError || appointment.isPlanned"
          [class.bg-success]="!(appointment.hasBudgetError || appointment.isPlanned) && appointment.isDone"
          [class.bg-danger]="!(appointment.hasBudgetError || appointment.isPlanned) && !appointment.isDone"
        />
        <span class="text-truncate">
          <span class="fw-light"
            >{{ appointment.date | date : "dd.MM.yyyy" }} @if(appointment.isBirthday){ <fa-icon [icon]="faCakeCandles" [fixedWidth]="true" /> }<br
          /></span>
          <span class="fw-bold">{{ appointment.timeStart | timeFormat }}-{{ appointment.timeEnd | timeFormat }}</span>
        </span>

        <div class="btn-group ms-auto d-inline" role="group" style="opacity: 0.7">
          @if (appointment.street != '' && appointment.zipCode != '') {
          <a (click)="onOpenAppointmentLocation(appointment)" class="btn btn-outline-secondary btn-sm" title="Navigation zum Kunden">
            <fa-icon [icon]="faLocationDot" [fixedWidth]="true" />
          </a>
          } @if (appointment.phone != '') {
          <a href="tel:{{ appointment.phone | replace : ' ' : '' }}" class="btn btn-outline-secondary btn-sm" title="Kunden anrufen">
            <fa-icon [icon]="faPhone" [fixedWidth]="true" />
          </a>
          }
          <button
            type="button"
            [routerLink]="['/dashboard/appointments', appointment.id]"
            class="btn btn-outline-secondary btn-sm"
            title="Termin bearbeiten"
          >
            <fa-icon [icon]="faGear" [fixedWidth]="true" />
          </button>
          @if (!appointment.isDone && appointment.date > beginOfCurrentMonth) {
          <button type="button" (click)="onDelete(appointment)" class="btn btn-outline-secondary btn-sm" title="Termin löschen">
            <fa-icon [icon]="faTrashCan" [fixedWidth]="true" />
          </button>
          }
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{ appointment.customerName }}
        </h5>
        <ul class="card-text list-unstyled">
          @if (appointment.employeeReplacementName != '') {
          <li><fa-icon [icon]="faUserSolid" [fixedWidth]="true" /> {{ appointment.employeeReplacementName }}</li>
          }
          <li><fa-icon [icon]="faUser" [fixedWidth]="true" /> {{ appointment.employeeName }}</li>
          <li><fa-icon [icon]="faHouse" [fixedWidth]="true" /> {{ appointment.street }} - {{ appointment.zipCode }} {{ appointment.city }}</li>
          @if (appointment.phone != '') {
          <li><fa-icon [icon]="faPhone" [fixedWidth]="true" /> {{ appointment.phone }}</li>
          }
        </ul>
      </div>
      <div class="card-footer">
        @if(appointment.canSign && !appointment.isDone && !appointment.isPlanned && !appointment.hasBudgetError && appointment.date <= today &&
        (!appointment.isSignedByEmployee ||!appointment.isSignedByCustomer)) {
        <button
          [disabled]="appointment.isSignedByEmployee"
          type="button"
          [class.btn-outline-secondary]="!appointment.isSignedByEmployee"
          [class.btn-outline-success]="appointment.isSignedByEmployee"
          class="btn btn-sm"
          (click)="onTakeSignature(appointment, true)"
        >
          <span><fa-icon [icon]="faSignature" [fixedWidth]="true" /> Mitarbeiter</span>
          @if(appointment.isSignedByEmployee) {
          <fa-icon [icon]="faCheck" class="text-success ms-2" />
          }
        </button>
        <button
          [disabled]="appointment.isSignedByCustomer"
          type="button"
          [class.btn-outline-secondary]="!appointment.isSignedByCustomer"
          [class.btn-outline-success]="appointment.isSignedByCustomer"
          class="btn btn-sm ms-2"
          (click)="onTakeSignature(appointment, false)"
        >
          <span><fa-icon [icon]="faSignature" [fixedWidth]="true" /> Kunde</span>
          @if(appointment.isSignedByCustomer) {
          <fa-icon [icon]="faCheck" class="text-success ms-2" />
          }
        </button>
        } @if (appointment.isSignedByCustomer && appointment.isSignedByEmployee && !appointment.isDone) {
        <button type="button" (click)="onFinish(appointment)" class="btn btn-outline-secondary btn-sm" title="Termin abschließen">
          <fa-icon [icon]="faCheck" [fixedWidth]="true" /> Abschließen
        </button>
        } @if (filterModel.user.isManager && appointment.isDone && appointment.date >= beginOfCurrentMonth) {
        <button type="button" (click)="onReopen(appointment)" class="btn btn-outline-secondary btn-sm" title="Termin wieder öffnen">
          <fa-icon [icon]="faUnlock" [fixedWidth]="true" /> Öffnen
        </button>
        }
      </div>
    </div>
    }
  </div>

  } @else {
  <div class="alert alert-secondary mt-3" role="alert"><fa-icon [icon]="faCircleInfo" /> Es wurden keine Termine gefunden.</div>
  } }
  <!-- show table loader -->
  @if(isLoading) {
  <table class="table mt-3">
    <tbody>
      <tr>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
      </tr>
      <tr>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
      </tr>
      <tr>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
      </tr>
    </tbody>
  </table>

  } } @else {
  <ngx-skeleton-loader [theme]="{ height: '10px', width: '10%', margin: '0' }" />
  <ngx-skeleton-loader [theme]="{ height: '35px' }" />
  <ngx-skeleton-loader [theme]="{ height: '10px', width: '10%', margin: '0' }" />
  <ngx-skeleton-loader [theme]="{ height: '35px' }" />
  <ngx-skeleton-loader [theme]="{ height: '10px', width: '10%', margin: '0' }" />
  <ngx-skeleton-loader [theme]="{ height: '35px' }" />
  }}

  <ng-template #signature>
    <cura-signature [signatureName]="signatureName()" [title]="signatureTitle()" (signatureTaken)="onSignatureTaken($event)" />
  </ng-template>
</div>
