.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: #FF7F02;
  color: white;
}
.custom-day.faded {
  background-color: #ff810288;
}

.ngb-dp-weekday
{
  color: #FF7F02;
}