<div class="row">
  <h4>Rechnungsliste</h4>

  @if(model$ | async; as model) {
  <Button
    type="button"
    [routerLink]="['/dashboard/invoices/new']"
    [queryParams]="{
      year: filterForm.controls['year'].value,
      month: filterForm.controls['month'].value,
      customerId: filterForm.controls['customerId'].value == '' ? undefined : filterForm.controls['customerId'].value
    }"
    class="btn btn-primary text-white btn-block mb-3"
    >Rechnung erstellen</Button
  >
  <form [formGroup]="filterForm" class="p-0">
    <!-- year -->
    <div class="row gx-3">
      <div class="col col-12 col-md">
        <label for="inputYear">Jahr</label>
        <div class="input-group">
          <input
            id="inputYear"
            class="form-control"
            type="number"
            formControlName="year"
            [ngClass]="{ 'is-invalid': filterForm.controls['year'].invalid }"
          />
        </div>
      </div>
      <!-- month -->
      <div class="col col-12 col-md">
        <label for="selectMonth">Monat</label>
        <select id="selectMonth" class="form-control" formControlName="month">
          @for (month of months; track month) {
          <option [value]="month.value">{{ month.name }}</option>
          }
        </select>
      </div>
      <!-- customer -->
      <div class="col col-12 col-md">
        <label for="selectCustomer">Kunde</label>
        <select id="selectCustomer" class="form-select" formControlName="customerId">
          <option></option>
          @for (customer of model.customers; track customer) {
          <option [value]="customer.customerId">{{ customer.customerName }}</option>
          }
        </select>
      </div>
    </div>
  </form>

  <table class="d-none mt-2 d-md-table table table-striped">
    <thead>
      <tr>
        <th scope="col">Jahr</th>
        <th scope="col">Monat</th>
        <th scope="col">Kunde</th>
        <th scope="col">Abrechnungsoption</th>
        <th class="text-center" scope="col">Status</th>
        <th scope="col">Rechnungsnr.</th>
        <th class="text-center" scope="col">Aktion</th>
      </tr>
    </thead>
    <tbody>
      @for (invoice of model.invoices; track invoice) {
      <tr>
        <td>{{ invoice.year }}</td>
        <td>{{ invoice.month | monthName }}</td>
        <td>{{ invoice.customerName }}</td>
        <td>{{ invoice.clearanceType | clearanceTypeName }}</td>
        <td class="text-center">
          <div
            width="16"
            height="16"
            [class.bg-success]="invoice.invoiceNumber"
            [class.bg-danger]="!invoice.invoiceNumber"
            class="status-bullet"
          ></div>
        </td>
        <td>{{ invoice.invoiceNumber }}</td>
        <td class="text-center">
          <div class="btn-group" role="group">
            @if(!invoice.invoiceId) {
            <button
              type="button"
              [routerLink]="['/dashboard/invoices/new']"
              [queryParams]="{ year: invoice.year, month: invoice.month, customerId: invoice.customerId, clearanceType: invoice.clearanceType }"
              class="btn btn-outline-secondary btn-sm"
              title="Rechnung erstellen"
            >
              <fa-icon [icon]="faGear" [fixedWidth]="true" />
            </button>
            } @else {
            <button type="button" class="btn btn-outline-secondary btn-sm" title="Einsatznachweis herunterladen" (click)="onDownloadInvoice(invoice)">
              <fa-icon [icon]="faDownload" [fixedWidth]="true" />
            </button>
            @if(model.user.isManager) {
            <button type="button" (click)="onDeleteInvoice(invoice)" class="btn btn-outline-secondary btn-sm" title="Kunden löschen">
              <fa-icon [icon]="faTrashCan" [fixedWidth]="true" />
            </button>
            } }
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="d-md-none p-0">
    @for (invoice of model.invoices; track invoice) {
    <div class="card my-3">
      <div class="card-header d-flex">
        <img class="me-2" width="10" [class.bg-success]="invoice.invoiceNumber" [class.bg-danger]="!invoice.invoiceNumber" />
        <span class="lead text-truncate">{{ invoice.customerName }}</span>
        <div class="btn-group ms-auto" role="group">
          @if(invoice.invoiceNumber) {
          <button type="button" class="btn btn-outline-secondary btn-sm" title="Rechnung herunterladen" (click)="onDownloadInvoice(invoice)">
            <fa-icon [icon]="faDownload" [fixedWidth]="true" />
          </button>
          } @else {
          <button
            type="button"
            class="btn btn-outline-secondary btn-sm"
            title="Rechnung erstellen"
            [routerLink]="['/dashboard/documents/assignment-declarations/sign']"
            [queryParams]="{ year: invoice.year, month: invoice.month, customerId: invoice.customerId, clearanceType: invoice.clearanceType }"
          >
            <fa-icon [icon]="faGear" [fixedWidth]="true" />
          </button>
          } @if(model.user.isManager && invoice.invoiceNumber) {
          <a (click)="onDeleteInvoice(invoice)" class="btn btn-outline-secondary btn-sm" title="Rechnung löschen">
            <fa-icon [icon]="faTrashCan" [fixedWidth]="true" />
          </a>
          }
        </div>
      </div>
      <div class="card-body">
        <ul class="card-text list-unstyled">
          <li class="pb-2">{{ invoice.clearanceType | clearanceTypeName }}</li>
          <li><fa-icon [icon]="faCalendar" [fixedWidth]="true" /> {{ invoice.month | monthName }} {{ invoice.year }}</li>
          @if (invoice.invoiceNumber) {
          <li><fa-icon [icon]="faHashtag" [fixedWidth]="true" /> {{ invoice.invoiceNumber }}</li>
          }
        </ul>
      </div>
    </div>
    }
  </div>

  }
</div>
