<div class="row">
  <h4>Kundenliste</h4>
  @if (isManager) {
  <Button type="button" [routerLink]="['/dashboard/customers/new']" class="btn btn-primary text-white btn-block mb-3">Kunden hinzufügen</Button>

  <!-- employee filter -->
  <div class="form-group p-0">
    <label for="dpFromDate">Mitarbeiter</label>
    <select class="form-select" name="employeeSelect" [(ngModel)]="selectedEmployeeId" (change)="onSelectionChanged()">
      <option></option>
      @for (employee of employees; track employee) {
      <option [value]="employee.id">{{ employee.name }}</option>
      }
    </select>
  </div>
  }
  <table class="d-none d-md-table table mt-3 table-striped">
    <thead>
      <tr>
        <th scope="col">Vorname</th>
        <th scope="col">Nachname</th>
        <th scope="col">Telefonnummer</th>
        <th scope="col">PLZ</th>
        <th scope="col">Stadt</th>
        <th scope="col">Bearbeiter</th>
        <th class="text-center" scope="col">Aktion</th>
      </tr>
    </thead>
    <tbody>
      @if (isLoading) { @for (_ of [].constructor(3); track _) {
      <tr>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td><ngx-skeleton-loader /></td>
        <td></td>
      </tr>
      } } @for (customer of filteredCustomers; track customer) {
      <tr>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.zipCode }}</td>
        <td>{{ customer.city }}</td>
        <td>{{ customer.associatedEmployeeName }}</td>
        <td class="text-center">
          <div class="btn-group" role="group">
            <button
              type="button"
              [routerLink]="['/dashboard/customers', customer.id]"
              class="btn btn-outline-secondary btn-sm"
              title="Kunden bearbeiten"
            >
              <fa-icon [icon]="faGear" [fixedWidth]="true" />
            </button>
            @if (isManager | async) {
            <button type="button" (click)="handleDelete(customer)" class="btn btn-outline-secondary btn-sm" title="Kunden löschen">
              <fa-icon [icon]="faTrashCan" [fixedWidth]="true" />
            </button>
            }
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="d-md-none p-0">
    @for (customer of filteredCustomers; track customer) {
    <div class="card my-3">
      <div class="card-header d-flex">
        <span class="lead text-truncate">{{ customer.firstName }} {{ customer.lastName }}</span>
        <div class="btn-group ms-auto" role="group">
          @if (customer.latitude != 0 && customer.longitude != 0) {
          <a (click)="onCustomerAddressClick(customer)" class="btn btn-outline-secondary btn-sm" title="Navigation zum Kunden">
            <fa-icon [icon]="faLocationDot" [fixedWidth]="true" />
          </a>
          } @if (customer.phone != '') {
          <a href="tel:{{ customer.phone | replace : ' ' : '' }}" class="btn btn-outline-secondary btn-sm" title="Kunden anrufen">
            <fa-icon [icon]="faPhone" [fixedWidth]="true" />
          </a>
          }
          <button
            type="button"
            [routerLink]="['/dashboard/customers', customer.id]"
            class="btn btn-outline-secondary btn-sm"
            title="Mitarbeiter bearbeiten"
          >
            <fa-icon [icon]="faGear" [fixedWidth]="true" />
          </button>
          <button type="button" (click)="handleDelete(customer)" class="btn btn-outline-secondary btn-sm" title="Mitarbeiter löschen">
            <fa-icon [icon]="faTrashCan" [fixedWidth]="true" />
          </button>
        </div>
      </div>
      <div class="card-body">
        <ul class="card-text list-unstyled">
          @if (customer.phone != '') {
          <li><fa-icon [icon]="faPhone" [fixedWidth]="true" /> {{ customer.phone }}</li>
          }
          <li><fa-icon [icon]="faHouse" [fixedWidth]="true" /> {{ customer.street }} - {{ customer.zipCode }} {{ customer.city }}</li>
          <li><fa-icon [icon]="faUser" [fixedWidth]="true" /> {{ customer.associatedEmployeeName }}</li>
        </ul>
      </div>
    </div>
    }
  </div>

  @if (filteredCustomers.length == 0) {
  <div class="alert alert-secondary mt-3" role="alert"><fa-icon [icon]="faCircleInfo" /> Es wurden keine Kunden gefunden.</div>
  }
</div>
