<div class="row">
  <h4>Einsatznachweise</h4>
</div>

<form class="mt-3">
  <div class="row">
    <div class="col">
      <label for="dpFromDate">Kunde</label>
      <select class="form-select" name="customerSelect" [(ngModel)]="selectedCustomerId" (change)="onCustomerChanged()">
        <option></option>
        @for (customer of customers; track customer) {
        <option [value]="customer.id">{{ customer.firstName }} {{ customer.lastName }}</option>
        }
      </select>
    </div>
  </div>
</form>

<table class="col-12 table mt-3 table-striped">
  <thead>
    <tr>
      <th scope="col">Kunde</th>
      <th scope="col">Versicherungsstatus</th>
      <th class="text-center" scope="col">Aktion</th>
    </tr>
  </thead>

  <tbody>
    @if (isLoading) { @for (_ of [].constructor(3); track _) {
    <tr>
      <td><ngx-skeleton-loader /></td>
      <td><ngx-skeleton-loader /></td>
      <td></td>
    </tr>
    } } @for (deployment of filteredDeployments; track deployment) {
    <tr>
      <td>{{ deployment.customerName }}</td>
      <td>{{ deployment.insuranceStatus | insuranceStatus }}</td>
      <td class="text-center">
        <div class="btn-group" role="group">
          <button type="button" (click)="onDownloadReport(deployment)" class="btn btn-outline-secondary btn-sm" title="Einsatznachweis herunterladen">
            <fa-icon [icon]="faDownload" [fixedWidth]="true" />
          </button>
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
