<div class="row">
  <h4 class="h-underline">Arbeitszeitreport {{ (isNew$ | async) ? "erstellen" : "xxx" }}</h4>

  <form (ngSubmit)="onSave()" [formGroup]="reportForm">
    <div class="form-group mb-2">
      <label>Mitarbeiter</label>
      <input type="text" readonly class="form-control" formControlName="employeeName" />
    </div>

    <div class="form-group mb-2">
      <label>Monat und Jahr der Leistungserbringung</label>
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          value="2024"
          [ngModel]="selectedYear()"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="onSelectedYearChange($event)"
        />
        <select
          class="form-control"
          [ngModelOptions]="{ standalone: true }"
          [ngModel]="selectedMonth()"
          (ngModelChange)="onSelectedMonthChange($event)"
        >
          @for (month of months; track month) {
          <option [value]="month.value">{{ month.name }}</option>
          }
        </select>
      </div>
    </div>

    <div class="mt-3">
      <p>Arbeitszeiten</p>
      <div class="table">
        <table class="w-100">
          <tr class="d-flex">
            <th class="col-3" scope="col">Datum</th>
            <th class="col-3" scope="col">Beginn</th>
            <th class="col-3" scope="col">Ende</th>
            <th class="col-3" scope="col">Arbeitszeit gesamt</th>
          </tr>
          @if (isLoadingWorkingHours()) {
          <tr class="d-flex">
            <td><ngx-skeleton-loader /></td>
            <td><ngx-skeleton-loader /></td>
            <td><ngx-skeleton-loader /></td>
            <td><ngx-skeleton-loader /></td>
          </tr>
          } @for (appointment of workingHours$ |async; track appointment) {

          <tr class="d-flex">
            <td class="col-3">{{ appointment.date | date : "dd.MM.yyyy" }}</td>
            <td class="col-3">{{ appointment.timeStart }} Uhr</td>
            <td class="col-3">{{ appointment.timeEnd }} Uhr</td>
            <td class="col-3">{{ appointment.workDuration | number : "1.2-2" }} h</td>
          </tr>
          }
        </table>
      </div>
    </div>
  </form>
</div>
