<div class="row">
  <h4 class="h-underline">Arbeitszeiterfassung {{ isNew() ? "erstellen" : "gegenzeichnen" }}</h4>

  <form [formGroup]="reportForm">
    <div class="form-group mb-2">
      <label>Mitarbeiter</label>
      <p class="ms-3 mt-1 m-0 fs-6">{{ reportForm.get("employeeName")?.value }}</p>
    </div>

    <div class="form-group mb-2">
      <label>Jahr und Monat der Leistungserbringung</label>
      <div class="input-group">
        <input type="number" class="form-control" value="2024" formControlName="year" (ngModelChange)="onSelectedYearChange($event)" />
        <select class="form-control" formControlName="month" (ngModelChange)="onSelectedMonthChange($event)">
          @for (month of months; track month) {
          <option [value]="month.value">{{ month.name }}</option>
          }
        </select>
      </div>
    </div>

    @if(model$ | async; as model) {
    <div class="mt-3">
      <p>Arbeitszeiten</p>
      <div class="table">
        <table class="w-100 d-none d-md-table">
          <tr class="d-flex">
            <th class="col-3" scope="col">Datum</th>
            <th class="col-3" scope="col">Beginn</th>
            <th class="col-3" scope="col">Ende</th>
            <th class="col-3" scope="col">Arbeitszeit gesamt</th>
          </tr>
          @if (isLoadingWorkingHours()) {
          <tr class="d-flex">
            <td><ngx-skeleton-loader /></td>
            <td><ngx-skeleton-loader /></td>
            <td><ngx-skeleton-loader /></td>
            <td><ngx-skeleton-loader /></td>
          </tr>
          } @for (appointment of model.workTime; track appointment) {

          <tr class="d-flex">
            <td class="col-3">{{ appointment.date | date : "dd.MM.yyyy" }}</td>
            <td class="col-3">{{ appointment.timeStart | timeFormat }} Uhr</td>
            <td class="col-3">{{ appointment.timeEnd | timeFormat }} Uhr</td>
            <td class="col-3">{{ appointment.workDuration | number : "1.2-2" }} h</td>
          </tr>
          }
        </table>
      </div>

      <div class="container d-md-none">
        <div class="row border-bottom fw-bold">
          <div class="col-5">Datum</div>
          <div class="col-5">Uhrzeit</div>
          <div class="col-2">Dauer</div>
        </div>
        @for (appointment of model.workTime; track appointment) {
        <div class="row border-bottom py-2">
          <div class="col-5">{{ appointment.date | date : "dd.MM.yyyy" }}</div>
          <div class="col-5">{{ appointment.timeStart | timeFormat }}-{{ appointment.timeEnd | timeFormat }}</div>
          <div class="col-2">{{ appointment.workDuration | number : "1.2-2" }}h</div>
        </div>
        }
      </div>

      @if(model.workTime.length == 0) {
      <div class="row">
        <div class="alert alert-secondary mt-3" role="alert">
          <fa-icon [icon]="faCircleInfo" [fixedWidth]="true" /> Für diesen Monat wurde bisher keine Arbeitszeit erfasst.
        </div>
      </div>
      }

      <p class="mt-3">
        Summe der Arbeitszeiten: <span class="ms-2 fw-bold">{{ model.totalWorkedHours }} Stunden</span>
      </p>

      @if (model.report && !model.report.signatureManagerDate ) {
      <div class="row">
        <div class="alert alert-secondary mt-3" role="alert">
          <fa-icon [icon]="faCircleInfo" /> Die Arbeitszeiterfassung für diesen Monat wurde am {{ model.report.signatureEmployeeDate | date }} in
          {{ model.report.signatureEmployeeCity }} unterschrieben und muss nun von einem Manager gegengezeichnet werden.
        </div>
      </div>
      } @if(model.report && model.report.signatureManagerDate) {
      <div class="row">
        <div class="alert alert-success mt-3" role="alert">
          <fa-icon [icon]="faCircleInfo" /> Die Arbeitszeiterfassung für diesen Monat wurde am {{ model.report.signatureManagerDate | date }} in
          {{ model.report.signatureManagerCity }} von einem Manager gegengezeichnet.
        </div>
      </div>
      } @if (model.canSign && (!model.report || (isManager() && !model.report.signatureManagerDate))) {
      <div class="mt-3">
        <label class="mt-2 fw-light">Ort, Datum</label>
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <input type="text" class="form-control" formControlName="signatureCity" />
          </div>
          <div class="col-5 d-flex align-items-center">den {{ today | date }}</div>
        </div>
      </div>
      } @if(model.hasUndoneAppointments) {
      <div class="row">
        <div class="alert alert-warning mt-3" role="alert">
          <fa-icon [icon]="faTriangleExclamation" /> Die Arbeitszeiterfassung kann nicht erstellt werden, es gibt noch nicht abgeschlossene Termine in
          diesem Monat.
        </div>
      </div>
      }

      <div class="row g-2 mt-2">
        <div class="col">
          <button
            [disabled]="!reportForm.valid || isSaving()"
            type="submit"
            class="form-control btn btn-primary text-white"
            (click)="openOffCanvas(signature)"
          >
            @if (isSaving()) {
            <span class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
            }
            <span>Unterschrift {{ model.report ? "Manager" : "Mitarbeiter" }}</span>
          </button>
        </div>
        <div class="col">
          <button type="button" [routerLink]="['/dashboard/time-tracker']" class="form-control btn btn-outline-secondary">Verwerfen</button>
        </div>
      </div>
    </div>

    <ng-template #signature let-offcanvas>
      <div class="offcanvas-header offcanvas-signature" style="height: 60px">
        <h4 class="h-underline text-center w-100">{{ model.report ? "Manager" : "Mitarbeiter" }}unterschrift</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
      </div>
      <div class="offcanvas.body container" style="height: calc(100% - 70px)">
        <cura-signature #signature [signatureName]="model.userName" (signatureTaken)="onSigned($event)" />
      </div>
    </ng-template>

    } @else {
    <td><ngx-skeleton-loader /></td>
    <td><ngx-skeleton-loader /></td>
    <td><ngx-skeleton-loader /></td>
    }
  </form>
</div>
