<div class="row">
  <h4 class="h-underline">Arbeitszeiterfassung {{ isNew() ? "erstellen" : "gegenzeichnen" }}</h4>

  <form [formGroup]="reportForm" class="p-0">
    <div class="form-group mb-2">
      <label class="fw-light">Mitarbeiter</label>
      <p class="ms-3 mt-1 m-0 fs-6">{{ reportForm.get("employeeName")?.value }}</p>
    </div>

    <div class="form-group mb-2">
      <label class="fw-light">Jahr und Monat der Leistungserbringung</label>
      <div class="input-group">
        <input type="number" class="form-control" value="2024" formControlName="year" (ngModelChange)="onSelectedYearChange($event)" />
        <select class="form-control" formControlName="month" (ngModelChange)="onSelectedMonthChange($event)">
          @for (month of months; track month) {
          <option [value]="month.value">{{ month.name }}</option>
          }
        </select>
      </div>
    </div>

    @if(model$ | async; as model) {
    <div class="mt-3">
      <p class="fw-light">Arbeitszeiten</p>
      <div class="table">
        <table class="w-100">
          <tr class="d-flex">
            <th class="col-3 col-md-3" scope="col">Datum</th>
            <th class="d-none d-md-table-cell col-3" scope="col">Beginn</th>
            <th class="d-none d-md-table-cell col-3" scope="col">Ende</th>
            <th class="d-md-none col-4" scope="col">Uhrzeit</th>
            <th class="col-3 col-md-2" scope="col">Dauer</th>
            <th class="col" scope="col"></th>
          </tr>
          @if (isLoadingWorkingHours()) {
          <tr class="d-flex">
            <td><ngx-skeleton-loader /></td>
            <td><ngx-skeleton-loader /></td>
            <td><ngx-skeleton-loader /></td>
            <td><ngx-skeleton-loader /></td>
          </tr>
          } @for (appointment of model.workTime; track appointment) {

          <tr class="d-flex" [class.table-warning]="!appointment.isDone && !appointment.isPlanned" [class.table-secondary]="appointment.isPlanned">
            <td class="col-3 d-md-none">{{ appointment.date | date : "dd.MM.yy" }}</td>
            <td class="d-none d-md-table-cell col-md-3">{{ appointment.date | date : "dd.MM.yyyy" }}</td>
            <td class="d-none d-md-table-cell col-3">{{ appointment.timeStart | timeFormat }} Uhr</td>
            <td class="d-none d-md-table-cell col-3">{{ appointment.timeEnd | timeFormat }} Uhr</td>
            <td class="col-4 d-md-none">{{ appointment.timeStart | timeFormat }}-{{ appointment.timeEnd | timeFormat }}</td>

            <td class="col-3 col-md-2">{{ appointment.workDuration | number : "1.2-2" }} h</td>
            <td class="col text-center">
              <div class="btn-group" role="group">
                @if(appointment.isPlanned) {
                <button type="button" class="btn btn-outline-secondary btn-sm" title="Termin löschen" (click)="onDeleteAppointment(appointment)">
                  <fa-icon [icon]="faTrashCan" [fixedWidth]="true" />
                </button>
                } @if(!appointment.isDone && !appointment.isPlanned) {
                <button
                  type="button"
                  class="btn btn-outline-secondary btn-sm"
                  title="Termin bearbeiten"
                  [routerLink]="['/dashboard/appointments', appointment.appointmentId]"
                >
                  <fa-icon [icon]="faGear" [fixedWidth]="true" />
                </button>
                }
              </div>
            </td>
          </tr>
          }
        </table>
      </div>

      @if(model.workTime.length == 0) {
      <cura-info>Für diesen Monat wurde bisher keine Arbeitszeit erfasst.</cura-info>
      }

      <p class="mt-3 fw-light">
        Summe der Arbeitszeiten:
        <span class="ms-2 fw-bold">{{ model.totalWorkedHours | number : "1.2-2" }} Stunde@if(model.totalWorkedHours > 1){n}</span>
      </p>

      @if (model.report && !model.report.signatureManagerDate ) {
      <cura-info>
        Die Arbeitszeiterfassung für diesen Monat wurde am {{ model.report.signatureEmployeeDate | date }} in
        {{ model.report.signatureEmployeeCity }} unterschrieben und muss nun von einem Manager gegengezeichnet werden.
      </cura-info>

      } @if(model.report && model.report.signatureManagerDate) {
      <cura-info type="success">
        Die Arbeitszeiterfassung für diesen Monat wurde am {{ model.report.signatureManagerDate | date }} in
        {{ model.report.signatureManagerCity }} von einem Manager gegengezeichnet.
      </cura-info>

      } @if (model.canSign && (!model.report || (isManager() && !model.report.signatureManagerDate))) {
      <div class="mt-3">
        <label class="mt-2 fw-light">Ort, Datum</label>
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <input maxlength="30" type="text" class="form-control" formControlName="signatureCity" />
          </div>
          <div class="col-5 d-flex align-items-center">den {{ today | date }}</div>
        </div>
      </div>
      }

      <!-- unfinished appointments message -->
      @if(model.hasUndoneAppointments) {
      <cura-info type="warning">Es gibt noch nicht abgeschlossene Termine für diesen Monat.</cura-info>
      }
      <!-- planned appointments message -->
      @if(model.hasPlannedAppointments) {
      <cura-info>Es gibt noch geplante, nicht eingetragene Termine für diesen Monat.</cura-info>
      }

      <div class="row g-2 mt-2">
        <div class="col">
          <button
            [disabled]="!reportForm.valid || isSaving()"
            type="submit"
            class="form-control btn btn-primary text-white h-100"
            (click)="openOffCanvas(signature)"
          >
            @if (isSaving()) {
            <span class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
            }
            <span>Unterschrift {{ model.report ? "Manager" : "Mitarbeiter" }}</span>
          </button>
        </div>
        <div class="col">
          <button type="button" [routerLink]="['/dashboard/time-tracker']" class="form-control btn btn-outline-secondary h-100">Verwerfen</button>
        </div>
      </div>
    </div>

    <ng-template #signature>
      <cura-signature [signatureName]="model.userName" (signatureTaken)="onSigned($event)" />
    </ng-template>

    } @else {
    <td><ngx-skeleton-loader /></td>
    <td><ngx-skeleton-loader /></td>
    <td><ngx-skeleton-loader /></td>
    }
  </form>
</div>
