<div class="d-md-none p-0 mt-2">
  @if (isLoading()) {
  <cura-loader-card />
  } @for (employee of employees(); track employee) {
  <div class="card my-2">
    <div class="card-header d-flex">
      <span class="lead text-truncate">{{ employee.firstName }} {{ employee.lastName }}</span>
      <div class="btn-group ms-auto" ngbDropdown role="group">
        <button
          type="button"
          [routerLink]="['/dashboard/employees', employee.id]"
          class="btn btn-outline-secondary btn-sm"
          title="Mitarbeiter bearbeiten"
        >
          <fa-icon [icon]="['fas', 'gear']" [fixedWidth]="true" />
        </button>
        <button type="button" (click)="delete.emit(employee)" class="btn btn-outline-secondary btn-sm" title="Mitarbeiter löschen">
          <fa-icon [icon]="['far', 'trash-can']" [fixedWidth]="true" />
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm" ngbDropdownToggle>
          <fa-icon [icon]="['fas', 'ellipsis']" [fixedWidth]="true" />
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          @if(employee.phoneNumber) {
          <a href="tel:{{ employee.phoneNumber | replace : ' ' : '' }}" ngbDropdownItem title="Mitarbeiter anrufen">Anrufen</a>
          }
          <a ngbDropdownItem href="mailto:{{ employee.email }}" target="_blank">E-Mail senden</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ul class="card-text list-unstyled">
        @if (employee.phoneNumber != '') {
        <li><fa-icon [icon]="['fas', 'phone']" [fixedWidth]="true" /> {{ employee.phoneNumber }}</li>
        }
        <li class="text-truncate"><fa-icon [icon]="['far', 'envelope']" [fixedWidth]="true" /> {{ employee.email }}</li>
        <li><fa-icon [icon]="['far', 'user']" [fixedWidth]="true" /> {{ employee.isManager ? "Manager" : "Mitarbeiter" }}</li>
      </ul>
    </div>
  </div>
  }
</div>
