<div class="row">
  <h4 class="h-underline">Abtretungserklärungen</h4>

  @if(filterModel$ | async; as filterModel) {
  <form [formGroup]="filterForm" class="p-0 mt-3">
    <div class="row gx-3">
      <div class="col col-12 col-md">
        <label class="fw-light" for="inputYear">Jahr</label>
        <div class="input-group">
          <input
            id="inputYear"
            class="form-control"
            type="number"
            formControlName="year"
            [ngClass]="{ 'is-invalid': filterForm.controls['year'].invalid }"
          />
        </div>
      </div>

      @if (filterModel.user.isManager) {
      <div class="col col-12 col-md">
        <label class="fw-light" for="selectEmployee">Mitarbeiter</label>
        <select id="selectEmployee" class="form-select" formControlName="employeeId">
          <option></option>
          @for (employee of filterModel.employees; track employee) {
          <option [value]="employee.id">{{ employee.name }}</option>
          }
        </select>
      </div>
      }
    </div>
  </form>
  @if(listModel$ | async; as page) {
  <table class="d-none d-md-table table mt-3 table-striped">
    <thead>
      <tr>
        <th scope="col">Jahr</th>
        <th scope="col">Kunde</th>
        <th scope="col">Bearbeitet von</th>
        <th class="text-center" scope="col">Status</th>
        <th class="text-center" scope="col">Aktion</th>
      </tr>
    </thead>
    <tbody>
      @for (document of page.items; track document) {
      <tr>
        <td>{{ document.year }}</td>
        <td>{{ document.customerName }}</td>
        <td>{{ document.employeeName }}</td>
        <td class="text-center">
          <div width="16" height="16" [class.bg-success]="document.isSigned" [class.bg-danger]="!document.isSigned" class="status-bullet"></div>
        </td>
        <td class="text-center">
          <div class="btn-group ms-auto" role="group">
            @if(document.isSigned) {
            <button
              type="button"
              [disabled]="isLoading()"
              class="btn btn-outline-secondary btn-sm"
              title="Abtretungserklärung herunterladen"
              (click)="onDownloadAssignmentDeclaration(document)"
            >
              <fa-icon [icon]="faDownload" [fixedWidth]="true" />
            </button>
            } @else {
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm"
              title="Abtretungserklärung erstellen"
              [routerLink]="['/dashboard/documents/assignment-declarations/sign']"
              [queryParams]="{ year: document.year, customer: document.customerId }"
            >
              <fa-icon [icon]="faGear" [fixedWidth]="true" />
            </button>
            } @if(filterModel.user.isManager && document.isSigned) {
            <a (click)="onDeleteAssignmentDeclaration(document)" class="btn btn-outline-secondary btn-sm" title="Abtretungserklärung löschen">
              <fa-icon [icon]="faTrashCan" [fixedWidth]="true" />
            </a>
            }
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="d-md-none p-0">
    @for (document of page.items; track document) {
    <div class="card my-3">
      <div class="card-header d-flex">
        <img class="me-2" width="10" [class.bg-success]="document.isSigned" [class.bg-danger]="!document.isSigned" />
        <span class="lead text-truncate">{{ document.customerName }}</span>
        <div class="btn-group ms-auto" role="group">
          @if(document.isSigned) {
          <button
            type="button"
            [disabled]="isLoading()"
            class="btn btn-outline-secondary btn-sm"
            title="Abtretungserklärung herunterladen"
            (click)="onDownloadAssignmentDeclaration(document)"
          >
            <fa-icon [icon]="faDownload" [fixedWidth]="true" />
          </button>
          } @else {
          <button
            type="button"
            class="btn btn-outline-secondary btn-sm"
            title="Abtretungserklärung erstellen"
            [routerLink]="['/dashboard/documents/assignment-declarations/sign']"
            [queryParams]="{ year: document.year, customer: document.customerId }"
          >
            <fa-icon [icon]="faGear" [fixedWidth]="true" />
          </button>
          } @if(filterModel.user.isManager && document.isSigned) {
          <a (click)="onDeleteAssignmentDeclaration(document)" class="btn btn-outline-secondary btn-sm" title="Abtretungserklärung löschen">
            <fa-icon [icon]="faTrashCan" [fixedWidth]="true" />
          </a>
          }
        </div>
      </div>
      <div class="card-body">
        <ul class="card-text list-unstyled">
          <li><fa-icon [icon]="faCalendar" [fixedWidth]="true" /> {{ document.year }}</li>
          <li><fa-icon [icon]="faUser" [fixedWidth]="true" /> {{ document.employeeName }}</li>
        </ul>
      </div>
    </div>
    }
  </div>

  <cura-paging [page]="page" (pageChange)="onPageChange($event)" />

  @if (page.items.length === 0) {
  <div class="alert alert-secondary mt-3" role="alert"><fa-icon [icon]="faCircleInfo" /> Es wurden keine Abtretungserklärungen gefunden.</div>
  } } }
</div>
