<form (ngSubmit)="onSave()" [formGroup]="budgetForm">
  <div class="row">
    <h4 class="h-underline">Budget bearbeiten</h4>

    <cura-input key="customerName" [isLoading]="isLoading" label="Kunde" [form]="budgetForm" />

    <div class="mt-2" ngbAccordion [closeOthers]="false">
      <!-- relief care -->
      @if (budget?.doClearanceReliefAmount) {
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Entlastungsbetrag §45b SGB XI</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <cura-input
                (change)="onBudgetChange('reliefAmount', 'reliefAmountRemainingHours')"
                prefix="EUR"
                key="reliefAmount"
                [isLoading]="isLoading"
                label="Aktuelles Budget"
                [form]="budgetForm"
              />

              <div class="form-group mb-2">
                <label for="inputPricePerHour">Stundenlohn Unternehmen, verbleibende Stunden</label>
                <div class="input-group">
                  <span class="input-group-text">EUR</span>
                  <input class="form-control" formControlName="pricePerHour" id="inputPricePerHour" />
                  <input class="form-control" formControlName="reliefAmountRemainingHours" id="inputReliefAmountRemainingHours" />
                </div>
              </div>

              <div class="form-group mb-2">
                <label for="inputPricePerHour">Gültigkeit bis, Restbudget</label>
                <div class="input-group">
                  <span class="input-group-text">30.06.{{ nextYear }}</span>
                  <span class="input-group-text">EUR</span>
                  <input class="form-control" formControlName="reliefAmountCurrentYear" id="inputReliefAmountCurrentYear" />
                </div>
              </div>
              @if (showLastYear) {
              <div class="form-group mb-2">
                <div class="input-group">
                  <span class="input-group-text">30.06.{{ currentYear }}</span>
                  <span class="input-group-text">EUR</span>
                  <input class="form-control" formControlName="reliefAmountPreviousYear" id="inputReliefAmountPreviousYear" />
                </div>
              </div>
              }

              <div class="form-group mb-2">
                <label for="inputPricePerHour">Nächste Erhöhung, Budget</label>
                <div class="input-group">
                  <span class="input-group-text">monatlich</span>
                  <span class="input-group-text">EUR</span>
                  <input class="form-control" formControlName="reliefAmountRaise" id="inputReliefAmountCurrentYear" />
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <!-- care benefit -->
      } @if (budget?.doClearanceCareBenefit) {
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>..Pflegesachleistungen §36 SGB XI (max. 40%)</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <cura-input
                (change)="onBudgetChange('careBenefitAmount', 'careBenefitRemainingHours')"
                prefix="EUR"
                key="careBenefitAmount"
                [isLoading]="isLoading"
                label="Aktuelles Budget"
                [form]="budgetForm"
              />

              <div class="form-group mb-2">
                <label for="inputPricePerHour">Stundenlohn Unternehmen, verbleibende Stunden</label>
                <div class="input-group">
                  <span class="input-group-text">EUR</span>
                  <input class="form-control" formControlName="pricePerHour" id="inputPricePerHour" />
                  <input class="form-control" formControlName="careBenefitRemainingHours" id="inputCareBenefitRemainingHours" />
                </div>
              </div>

              <div class="form-group mb-2">
                <label for="inputPricePerHour">Gültigkeit bis, Restbudget</label>
                <div class="input-group">
                  <span class="input-group-text">{{ endOfMonth }}</span>
                  <span class="input-group-text">EUR</span>
                  <input class="form-control" formControlName="careBenefitRemaining" id="inputCareBenefitAmount" />
                </div>
              </div>

              <div class="form-group mb-2">
                <label for="inputPricePerHour">Nächste Erhöhung, Budget</label>
                <div class="input-group">
                  <span class="input-group-text">monatlich</span>
                  <span class="input-group-text">EUR</span>
                  <input class="form-control" formControlName="careBenefitRaise" id="inputCareBenefitRaise" />
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      }
      <!-- preventive care -->
      @if (budget?.doClearancePreventiveCare) {
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Verhinderungspflege §39 SGB XI</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <cura-input
                (change)="onBudgetChange('preventiveCareAmount', 'preventiveCareRemainingHours')"
                prefix="EUR"
                key="preventiveCareAmount"
                [isLoading]="isLoading"
                label="Aktuelles Budget"
                [form]="budgetForm"
              />

              <div class="form-group mb-2">
                <label for="inputPricePerHour">Stundenlohn Unternehmen, verbleibende Stunden</label>
                <div class="input-group">
                  <span class="input-group-text">EUR</span>
                  <input class="form-control" formControlName="pricePerHour" id="inputPricePerHour" />
                  <input class="form-control" formControlName="preventiveCareRemainingHours" />
                </div>
              </div>

              <div class="form-group mb-2">
                <label for="inputPricePerHour">Gültigkeit bis, Restbudget</label>
                <div class="input-group">
                  <span class="input-group-text">{{ endOfYear }}</span>
                  <span class="input-group-text">EUR</span>
                  <input class="form-control" formControlName="preventiveCareRemaining" id="inputPreventiveCareRemaining" />
                </div>
              </div>

              <div class="form-group mb-2">
                <label for="inputPricePerHour">Nächste Erhöhung, Budget</label>
                <div class="input-group">
                  <span class="input-group-text">jährlich</span>
                  <span class="input-group-text">EUR</span>
                  <input class="form-control" formControlName="preventiveCareRaise" id="inputCareBenefitRaise" />
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      }

      <!-- preventive care -->
      @if (budget?.doClearanceSelfPayment) {
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Selbstzahler</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <cura-input
                (change)="onBudgetChange('selfPayAmount', 'selfPayRemainingHours')"
                prefix="EUR"
                key="selfPayAmount"
                [isLoading]="isLoading"
                label="Aktuelles Budget"
                [form]="budgetForm"
              />

              <div class="form-group mb-2">
                <label for="inputPricePerHour">Stundenlohn Unternehmen, verbleibende Stunden</label>
                <div class="input-group">
                  <span class="input-group-text">EUR</span>
                  <input class="form-control" formControlName="pricePerHour" id="inputPricePerHour" />
                  <input class="form-control" formControlName="selfPayRemainingHours" />
                </div>
              </div>

              <div class="form-group mb-2">
                <label for="inputPricePerHour">Gültigkeit bis, Restbudget</label>
                <div class="input-group">
                  <span class="input-group-text">{{ endOfMonth }}</span>
                  <span class="input-group-text">EUR</span>
                  <input class="form-control" formControlName="selfPayRemaining" id="inputSelfPayRemaining" />
                </div>
              </div>

              <div class="form-group mb-2">
                <label for="inputPricePerHour">Nächste Erhöhung, Budget</label>
                <div class="input-group">
                  <span class="input-group-text">monatlich</span>
                  <span class="input-group-text">EUR</span>
                  <input class="form-control" formControlName="selfPayRaise" id="inputSelfPayRaise" />
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  @if (hasRideCosts) {
  <!-- info for not included ride costs in calculation -->
  <div class="row g-2 mt-2">
    <div class="alert alert-secondary mt-2" role="alert">
      <fa-icon [icon]="faCircleInfo" /> Bei der Berechnung der Reststunden werden keine Anfahrtskosten berücksichtigt.
    </div>
  </div>
  }

  <!-- Buttons -->
  <div class="row g-2 mt-2">
    <div class="col">
      <button [disabled]="!budgetForm.valid || isLoading || isSaving" type="submit" class="form-control btn btn-primary text-white">
        @if (isSaving) {
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        }
        <span>Daten speichern</span>
        @if (isSaving) {
        <span>...</span>
        }
      </button>
    </div>
    <div class="col">
      <button type="button" [routerLink]="['/dashboard/budgets']" class="form-control btn btn-outline-secondary h-100">Verwerfen</button>
    </div>
  </div>
</form>
