<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="../assets/img/logo.png"
                    style="width: 128px"
                    alt="logo"
                  />
                  <h4 class="mt-1 mb-5 pb-1">Willkommen bei Curacaru</h4>
                  <p>
                    Du scheinst dich gerade bei uns angemeldet zu haben. Wir
                    brauchen nur noch paar Daten von dir um loszulegen:
                  </p>
                </div>
                <form>
                  <div class="text-left">
                    <div class="form-group">
                      <label for="inputFirstName">Vorname</label>
                      <input
                        type="text"
                        class="form-control"
                        id="inputFirstName"
                        placeholder="Gib deinen Vornamen ein"
                      />
                    </div>
                    <div class="form-group">
                      <label for="inputLastName">Nachname</label>
                      <input
                        type="text"
                        class="form-control"
                        id="inputLastName"
                        placeholder="Gib deinen Nachnamen ein"
                      />
                    </div>
                    <div class="form-group">
                      <label for="intputCompanyName">Dienstname</label>
                      <input
                        type="text"
                        class="form-control"
                        id="intputCompanyName"
                        placeholder="Gib den Namen deines Pflegedienstes ein"
                      />
                    </div>
                  </div>
                  <button
                    type="submit"
                    (click)="handleLogin()"
                    class="my-2 btn btn-primary text-white float-end"
                  >
                    Los geht's
                  </button>
                </form>
              </div>
            </div>
            <div
              class="col-lg-6 d-flex align-items-center gradient-custom-2"
              style="overflow: hidden"
            >
              <img width="600" src="../assets/img/signup.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
