<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img ngSrc="../assets/img/logo.svg" width="121" height="102" alt="logo" priority />
                  <h4 class="mt-1 mb-2 pb-1">Willkommen bei Curacaru</h4>
                  <p>Du scheinst dich gerade bei uns angemeldet zu haben! Wir brauchen nur noch paar Daten von dir um loszulegen:</p>
                </div>
                <form (ngSubmit)="handleSignup()" [formGroup]="signupForm">
                  <div class="text-left">
                    <div class="form-group">
                      <label for="inputFirstName">Vorname</label>
                      <input
                        type="text"
                        class="form-control"
                        id="inputFirstName"
                        formControlName="firstName"
                        [ngClass]="{
                          'is-valid': signupForm.controls['firstName'].valid,
                          'is-invalid': signupForm.controls['firstName'].invalid && signupForm.controls['firstName'].touched
                        }"
                        placeholder="Gib deinen Vornamen ein"
                      />
                      <div id="validationServerUsernameFeedback" class="invalid-feedback">Name muss mindestens drei Zeichen lang sein</div>
                    </div>
                    <div class="form-group">
                      <label for="inputLastName">Nachname</label>
                      <input
                        type="text"
                        formControlName="lastName"
                        class="form-control"
                        id="inputLastName"
                        [ngClass]="{
                          'is-valid': signupForm.controls['lastName'].valid,
                          'is-invalid': signupForm.controls['lastName'].invalid && signupForm.controls['lastName'].touched
                        }"
                        placeholder="Gib deinen Nachnamen ein"
                      />
                      <div id="validationLastNameFeedback" class="invalid-feedback">Name muss mindestens drei Zeichen lang sein</div>
                    </div>
                    <div class="form-group">
                      <label for="intputCompanyName">Dienstname</label>
                      <input
                        type="text"
                        formControlName="companyName"
                        class="form-control"
                        id="intputCompanyName"
                        [ngClass]="{
                          'is-valid': signupForm.controls['companyName'].valid,
                          'is-invalid': signupForm.controls['companyName'].invalid && signupForm.controls['companyName'].touched
                        }"
                        placeholder="Gib den Namen deines Betreuungsdienstes ein"
                      />
                      <div id="validationCompanyNameFeedback" class="invalid-feedback">Name muss mindestens drei Zeichen lang sei</div>
                    </div>
                  </div>
                  <button type="submit" [disabled]="!signupForm.valid" class="my-2 btn btn-primary text-white float-end">
                    Los geht's
                    <fa-icon [icon]="faCircleRight" />
                  </button>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2" style="overflow: hidden">
              <img height="650" width="650" ngSrc="../assets/img/signup.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
