<div class="row">
  <h4 *ngIf="isNew">Kunden hinzufügen</h4>
  <h4 *ngIf="!isNew">Kunden bearbeiten</h4>

  <form (ngSubmit)="handleSave()" [formGroup]="customerForm">
    <div class="form-group mb-4">
      <label for="selectAssociatedEmployeeId">Bearbeitet von:</label>
      <ngx-skeleton-loader *ngIf="isLoading" />
      <select
        *ngIf="!isLoading"
        class="form-select"
        aria-label="Default select example"
        id="selectAssociatedEmployeeId"
        formControlName="associatedEmployeeId"
        [ngClass]="{
          'is-valid': customerForm.controls['associatedEmployeeId'].valid,
          'is-invalid': customerForm.controls['associatedEmployeeId'].invalid && customerForm.controls['associatedEmployeeId'].touched
        }"
      >
        <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
      </select>
    </div>

    <div class="form-group mb-2">
      <label for="inputFirstName">Vor- und Nachname</label>
      <ngx-skeleton-loader *ngIf="isLoading" />
      <div class="input-group" *ngIf="!isLoading">
        <input
          type="text"
          class="form-control"
          formControlName="firstName"
          id="inputFirstName"
          [ngClass]="{
            'is-valid': customerForm.controls['firstName'].valid,
            'is-invalid': customerForm.controls['firstName'].invalid && customerForm.controls['firstName'].touched
          }"
          placeholder="Vorname eingeben"
        />
        <input
          type="text"
          [ngClass]="{
            'is-valid': customerForm.controls['lastName'].valid,
            'is-invalid': customerForm.controls['lastName'].invalid && customerForm.controls['lastName'].touched
          }"
          class="form-control"
          formControlName="lastName"
          id="inputLastName"
          placeholder="Nachname eingeben"
        />
      </div>
    </div>

    <div class="form-group mb-2">
      <label for="inputStreet">Straße und Hausnummer</label>
      <ngx-skeleton-loader *ngIf="isLoading" />
      <input
        *ngIf="!isLoading"
        type="text"
        [ngClass]="{
          'is-valid': customerForm.controls['street'].valid,
          'is-invalid': customerForm.controls['street'].invalid && customerForm.controls['street'].touched
        }"
        class="form-control"
        formControlName="street"
        id="inputStreet"
        placeholder="Straße und Hausnummer eingeben"
      />
    </div>

    <div class="form-group mb-2">
      <label for="inputZipCode">Postleitzahl</label>

      <ngx-skeleton-loader *ngIf="isLoading" />
      <div class="input-group" *ngIf="!isLoading">
        <input
          type="text"
          [ngClass]="{
            'is-valid': customerForm.controls['zipCode'].valid,
            'is-invalid': customerForm.controls['zipCode'].invalid && customerForm.controls['zipCode'].touched
          }"
          maxlength="5"
          class="form-control"
          formControlName="zipCode"
          id="inputZipCode"
          placeholder="PLZ eingeben"
        />
        <span class="input-group-text">{{ cityName }}</span>
      </div>
    </div>

    <div class="form-group mb-2">
      <label for="inputBirthDate">Geburtsdatum</label>
      <ngx-skeleton-loader *ngIf="isLoading" />
      <input
        *ngIf="!isLoading"
        type="date"
        [ngClass]="{
          'is-valid': customerForm.controls['birthDate'].valid,
          'is-invalid': customerForm.controls['birthDate'].invalid && customerForm.controls['birthDate'].touched
        }"
        class="form-control"
        formControlName="birthDate"
        id="inputBirthDate"
        placeholder="Datum wählen"
      />
    </div>

    <div class="form-group mb-2">
      <label for="inputPhone">Telefonnummer</label>
      <ngx-skeleton-loader *ngIf="isLoading" />
      <input
        *ngIf="!isLoading"
        type="text"
        [ngClass]="{
          'is-valid': customerForm.controls['phone'].valid,
          'is-invalid': customerForm.controls['phone'].invalid && customerForm.controls['phone'].touched
        }"
        class="form-control"
        formControlName="phone"
        id="inputPhone"
        mb-2
        placeholder="Telefonnummer eingeben"
      />
    </div>

    <!-- Notfallkontakt -->
    <div class="form-group mb-4">
      <label for="inputEmergencyContactName">Notfallkontakt Name und Telefonnummer</label>
      <ngx-skeleton-loader *ngIf="isLoading" />
      <div class="input-group" *ngIf="!isLoading">
        <input type="text" class="form-control" formControlName="emergencyContactName" id="inputEmergencyContactName" placeholder="Namen eingeben" />
        <input type="text" class="form-control" formControlName="emergencyContactPhone" id="inputEmergencyContactPhone" placeholder="Telefonnummer eingeben" />
      </div>
    </div>

    <!-- Versicherung -->
    <div class="form-group mb-2">
      <label for="inputInsurance">Krankenkasse, Versichertennummer und Status</label>
      <ngx-skeleton-loader *ngIf="isLoading" />
      <div class="input-group" *ngIf="!isLoading">
        <input
          [disabled]="!isManager"
          id="inputInsurance"
          type="text"
          class="form-control"
          [(ngModel)]="selectedInsurance"
          [inputFormatter]="insuranceFormatter"
          [resultFormatter]="insuranceFormatter"
          [ngClass]="{
            'is-valid': customerForm.controls['insuranceId'].valid && customerForm.controls['insuranceId'].value != '' && customerForm.controls['insuranceId'].value != undefined,
            'is-invalid': customerForm.controls['insuranceId'].invalid && customerForm.controls['insuranceId'].touched
          }"
          [ngbTypeahead]="search"
          placeholder="Krankenkasse"
          [editable]="false"
          [ngModelOptions]="{ standalone: true }"
        />
        <input
          type="text"
          maxlength="10"
          [ngClass]="{
            'is-valid': customerForm.controls['insuredPersonNumber'].valid && customerForm.controls['insuredPersonNumber'].value != '',
            'is-invalid': customerForm.controls['insuredPersonNumber'].invalid && customerForm.controls['insuredPersonNumber'].touched
          }"
          class="form-control"
          formControlName="insuredPersonNumber"
          id="inputInsuredPersonNumber"
          placeholder="Versichertennummer"
        />
        <select
          class="form-select"
          formControlName="insuranceStatus"
          placeholder="Versicherungsstatus"
          id="inputEmergencyContactPhone"
          placeholder="Telefonnummer eingeben"
          [ngClass]="{
            'is-valid': customerForm.controls['insuranceStatus'].valid,
            'is-invalid': customerForm.controls['insuranceStatus'].invalid && customerForm.controls['insuranceStatus'].touched
          }"
        >
          <option value="0">Gesetzlich</option>
          <option value="1">Privat</option>
          <option value="2">Selbstzahler</option>
        </select>
      </div>
    </div>

    <!-- Pflegegrad -->
    <div class="form-group mb-2">
      <label for="selectCareLevel">Pflegegrad</label>
      <ngx-skeleton-loader *ngIf="isLoading" />
      <select
        *ngIf="!isLoading"
        class="form-select"
        id="selectCareLevel"
        formControlName="careLevel"
        [ngClass]="{
          'is-valid': customerForm.controls['careLevel'].valid,
          'is-invalid': customerForm.controls['careLevel'].invalid && customerForm.controls['careLevel'].touched
        }"
      >
        <option value="0">Kein Pflegegrad</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <!-- Betreuungsvertrag -->
    <div class="form-group mb-2">
      <div class="form-check" *ngIf="!isLoading">
        <input class="form-check-input" type="checkbox" formControlName="isCareContractAvailable" id="checkIsCareContractAvailable" />
        <label class="form-check-label" for="checkIsCareContractAvailable"> Betreuungsvertrag vorhanden</label>
      </div>
    </div>

    <!-- Abtretungserklärung -->
    <div class="form-group mb-2">
      <label for="selectCareLevel">Abtretungserklärung</label>
      <ngx-skeleton-loader *ngIf="isLoading" />
      <div class="input-group" *ngIf="!isLoading">
        <input
          [disabled]="!isManager"
          (keyup.enter)="handleAddDeclarationOfAssignment($event)"
          (keydown.enter)="$event.preventDefault()"
          [(ngModel)]="newDeclarationOfAssignment"
          [ngModelOptions]="{ standalone: true }"
          type="number"
          class="form-control"
          id="inputDeclarationsOfAssignment"
          placeholder="Abtretungsjahr eingeben"
        />
        <button [disabled]="!isManager" (click)="handleAddDeclarationOfAssignment()" class="btn btn-outline-secondary" type="button">Hinzufügen</button>
        <span class="input-group-text deleter" *ngFor="let declarationYear of sortedDeclarations" (click)="handleRemoveDeclarationOfAssignment(declarationYear)">{{ declarationYear }}</span>
      </div>
    </div>

    <button [disabled]="!customerForm.valid || isLoading || isSaving" type="submit" class="btn btn-primary text-white">
      <span *ngIf="isSaving" class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
      <span>Kunden {{ isNew ? "hinzufügen" : "speichern" }}</span>
      <span *ngIf="isSaving">...</span>
    </button>
    <button type="button" [routerLink]="['/dashboard/customers']" class="btn btn-outline-secondary m-3">Verwerfen</button>
  </form>
</div>
