<div class="row">
  <h4 class="h-underline">Kunden {{ isNew ? "hinzufügen" : "bearbeiten" }}</h4>

  <form (ngSubmit)="handleSave()" [formGroup]="customerForm">
    <div class="form-group mb-2">
      <label class="fw-light" for="selectAssociatedEmployeeId">Bearbeitet von:</label>
      @if (isLoading) {
      <ngx-skeleton-loader />
      } @if (!isLoading) {
      <select class="form-select" aria-label="Default select example" id="selectAssociatedEmployeeId" formControlName="associatedEmployeeId">
        <option value=""></option>
        @for (employee of employees; track employee) {
        <option [value]="employee.id">{{ employee.name }}</option>
        }
      </select>
      }
    </div>

    <div class="form-group mb-2">
      <label class="fw-light" for="selectCustomerStatus">Kundenstatus:</label>
      @if (isLoading) {
      <ngx-skeleton-loader />
      } @if (!isLoading) {
      <select class="form-select" aria-label="Default select example" id="selectCustomerStatus" formControlName="status">
        <option [ngValue]="null"></option>
        <option [ngValue]="customerStatus.Interested">Interessent</option>
        <option [ngValue]="customerStatus.Customer">Kunde</option>
        <option [ngValue]="customerStatus.Former">Ehemaliger Kunde</option>
      </select>
      }
    </div>

    <div class="mb-4"></div>

    <!-- salutation, first and lastname -->
    <div class="d-none d-md-block form-group mb-2">
      <label class="fw-light" for="selectSalutation">Anrede, Vor- und Nachname</label>
      @if (isLoading) {
      <ngx-skeleton-loader />
      } @if (!isLoading) {
      <div class="input-group">
        <select class="form-select" id="selectSalutation" formControlName="salutation">
          <option [ngValue]="0">Frau</option>
          <option [ngValue]="1">Herr</option>
        </select>
        <input
          type="text"
          class="form-control"
          formControlName="firstName"
          id="inputFirstName"
          [ngClass]="{
            'is-valid': customerForm.controls['firstName'].valid,
            'is-invalid': customerForm.controls['firstName'].invalid && customerForm.controls['firstName'].touched
          }"
          placeholder="Vornamen eingeben"
        />
        <input
          type="text"
          [ngClass]="{
            'is-valid': customerForm.controls['lastName'].valid,
            'is-invalid': customerForm.controls['lastName'].invalid && customerForm.controls['lastName'].touched
          }"
          class="form-control"
          formControlName="lastName"
          id="inputLastName"
          placeholder="Nachnamen eingeben"
        />
      </div>
      }
    </div>

    <div class="d-md-none form-group mb-2">
      <label class="fw-light" for="selectSalutation">Anrede</label>
      <select class="form-select" id="selectSalutation" formControlName="salutation">
        <option [ngValue]="0">Frau</option>
        <option [ngValue]="1">Herr</option>
      </select>
    </div>

    <!-- name [mobile]-->
    <cura-input class="d-md-none" key="firstName" [isLoading]="isLoading" label="Vorname" [form]="customerForm" placeholder="Vornamen eingeben" />
    <cura-input class="d-md-none" key="lastName" [isLoading]="isLoading" label="Nachname" [form]="customerForm" placeholder="Nachnamen eingeben" />

    <!-- street -->
    <cura-input
      key="street"
      [isLoading]="isLoading"
      label="Straße und Hausnummer"
      [form]="customerForm"
      placeholder="Straße und Hausnummer eingeben"
    />

    <!-- zip code and city-->
    <div class="form-group mb-2">
      <label class="fw-light" for="inputZipCode">Postleitzahl</label>

      @if (isLoading) {
      <ngx-skeleton-loader />
      } @if (!isLoading) {
      <div class="input-group">
        <input
          type="text"
          [ngClass]="{
            'is-valid': customerForm.controls['zipCode'].valid,
            'is-invalid': customerForm.controls['zipCode'].invalid && customerForm.controls['zipCode'].touched
          }"
          maxlength="5"
          class="form-control"
          sa
          formControlName="zipCode"
          id="inputZipCode"
          placeholder="PLZ eingeben"
        />
        <span class="input-group-text">{{ cityName }}</span>
      </div>
      }
    </div>

    <cura-input key="birthDate" [isLoading]="isLoading" label="Geburtsdatum" [form]="customerForm" placeholder="Datum wählen" type="date" />
    <cura-input key="phone" [isLoading]="isLoading" label="Telefonnummer" [form]="customerForm" placeholder="Telefonnummer eingeben" />

    <!-- Notfallkontakt -->
    <div class="form-group mb-2">
      <label class="fw-light" for="inputEmergencyContactName">Kontaktperson und Telefonnummer</label>
      @if (isLoading) {
      <ngx-skeleton-loader />
      } @if (!isLoading) {
      <div class="input-group">
        <input type="text" class="form-control" formControlName="emergencyContactName" id="inputEmergencyContactName" placeholder="Namen eingeben" />
        <input
          type="text"
          class="form-control"
          formControlName="emergencyContactPhone"
          id="inputEmergencyContactPhone"
          placeholder="Telefonnummer eingeben"
        />
      </div>
      }
    </div>

    <!-- Versicherung -->
    <div class="d-none d-md-block form-group mb-3">
      <label class="fw-light" for="inputInsurance">Krankenkasse, Versichertennummer und Status</label>
      @if (isLoading) {
      <ngx-skeleton-loader />
      } @if (!isLoading) {
      <div class="input-group">
        <input
          [disabled]="!isManager"
          id="inputInsurance"
          type="text"
          class="form-control"
          [(ngModel)]="selectedInsurance"
          [inputFormatter]="insuranceFormatter"
          [resultFormatter]="insuranceFormatter"
          [popupClass]="'overflow-auto height-150'"
          [ngClass]="{
            'is-valid':
              customerForm.controls['insuranceId'].valid &&
              customerForm.controls['insuranceId'].value != '' &&
              customerForm.controls['insuranceId'].value != undefined,
            'is-invalid': customerForm.controls['insuranceId'].invalid && customerForm.controls['insuranceId'].touched
          }"
          [ngbTypeahead]="search"
          placeholder="Krankenkasse"
          [editable]="false"
          [ngModelOptions]="{ standalone: true }"
        />
        <input
          type="text"
          maxlength="10"
          [ngClass]="{
            'is-valid': customerForm.controls['insuredPersonNumber'].valid && customerForm.controls['insuredPersonNumber'].value != '',
            'is-invalid': customerForm.controls['insuredPersonNumber'].invalid && customerForm.controls['insuredPersonNumber'].touched
          }"
          class="form-control"
          formControlName="insuredPersonNumber"
          id="inputInsuredPersonNumber"
          placeholder="Versichertennummer"
        />
        <select
          class="form-select"
          formControlName="insuranceStatus"
          placeholder="Versicherungsstatus"
          type="number"
          id="inputEmergencyContactPhone"
          placeholder="Telefonnummer eingeben"
          [ngClass]="{
            'is-valid': customerForm.controls['insuranceStatus'].valid,
            'is-invalid': customerForm.controls['insuranceStatus'].invalid && customerForm.controls['insuranceStatus'].touched
          }"
        >
          <option [ngValue]="0">Gesetzlich</option>
          <option [ngValue]="1">Privat</option>
          <option [ngValue]="2">Selbstzahler</option>
        </select>
      </div>
      }
    </div>

    <div class="d-md-none form-group mb-2">
      <label class="fw-light" for="inputInsurance">Versicherung</label>
      <input
        [disabled]="!isManager"
        id="inputInsurance"
        type="text"
        class="form-control"
        [(ngModel)]="selectedInsurance"
        [inputFormatter]="insuranceFormatter"
        [resultFormatter]="insuranceFormatter"
        [ngClass]="{
          'is-valid':
            customerForm.controls['insuranceId'].valid &&
            customerForm.controls['insuranceId'].value != '' &&
            customerForm.controls['insuranceId'].value != undefined,
          'is-invalid': customerForm.controls['insuranceId'].invalid && customerForm.controls['insuranceId'].touched
        }"
        [ngbTypeahead]="search"
        placeholder="Krankenkasse"
        [editable]="false"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <cura-input
      class="d-md-none"
      key="insuredPersonNumber"
      [isLoading]="isLoading"
      label="Versichertennummer"
      [form]="customerForm"
      placeholder="Versichertennummer eingeben"
    />

    <div class="form-group mb-2 d-md-none">
      <label class="fw-light" for="inputInsuranceStatus">Versicherungsstatus</label>
      <select
        class="form-select"
        formControlName="insuranceStatus"
        placeholder="Versicherungsstatus"
        id="inputInsuranceStatus"
        placeholder="Versicherungsstatus wählen"
        [ngClass]="{
          'is-valid': customerForm.controls['insuranceStatus'].valid,
          'is-invalid': customerForm.controls['insuranceStatus'].invalid && customerForm.controls['insuranceStatus'].touched
        }"
      >
        <option [ngValue]="0">Gesetzlich</option>
        <option [ngValue]="1">Privat</option>
        <option [ngValue]="2">Selbstzahler</option>
      </select>
    </div>

    <!-- Pflegegrad -->
    <div class="form-group mb-3">
      <label class="fw-light" for="selectCareLevel">Pflegegrad</label>
      @if (isLoading) {
      <ngx-skeleton-loader />
      } @if (!isLoading) {
      <select
        class="form-select"
        id="selectCareLevel"
        formControlName="careLevel"
        [ngClass]="{
          'is-valid': customerForm.controls['careLevel'].valid,
          'is-invalid': customerForm.controls['careLevel'].invalid && customerForm.controls['careLevel'].touched
        }"
      >
        <option value="0">Kein Pflegegrad</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      }
    </div>

    <div class="form-group">
      <label class="fw-light">Abrechnungsoptionen</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="doClearanceSelfPayment" id="checkDoClearanceSelfPayment" />
        <label class="form-check-label" for="checkDoClearanceSelfPayment"> Selbstzahler</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="doClearanceReliefAmount" id="checkDoClearanceReliefAmount" />
        <label class="form-check-label" for="checkDoClearanceReliefAmount"> Entlastungsbetrag §45b SGB XI</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="doClearanceCareBenefit" id="checkDoClearanceCareBenefit" />
        <label class="form-check-label" for="checkDoClearanceCareBenefit"> ..% Pflegesachleistungen §36 SGB XI (max. 40%)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="doClearancePreventiveCare" id="checkDoClearancePreventiveCare" />
        <label class="form-check-label" for="checkDoClearancePreventiveCare"> Verhinderungspflege § 39 SGB XI</label>
      </div>
    </div>

    <div class="row g-2 mt-2">
      <div class="col">
        <button [disabled]="!customerForm.valid || isLoading || isSaving" type="submit" class="btn btn-primary form-control text-white h-100">
          @if (isSaving) {
          <span class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
          }
          <span>Kunden {{ isNew ? "hinzufügen" : "speichern" }}</span>
          @if (isSaving) {
          <span>...</span>
          }
        </button>
      </div>
      <div class="col">
        <button type="button" [routerLink]="['/dashboard/customers']" class="form-control btn btn-outline-secondary h-100">Verwerfen</button>
      </div>
    </div>
  </form>
</div>
