<form (ngSubmit)="handleSave()" [formGroup]="employeeForm">
  <div class="row">
    <h4 class="h-underline">Mitarbeiter {{ isNew ? "hinzufügen" : "bearbeiten" }}</h4>

    @if(isNew) {
    <cura-input
      key="email"
      info="Das Password wird automatisch an diese Adresse geschickt."
      [isLoading]="isLoading"
      label="E-Mail Adresse"
      [form]="employeeForm"
      placeholder="E-Mail Adresse eingeben"
      type="email"
    />
    } @else {
    <Label class="fw-light">E-Mail</Label>
    <p class="ms-3 m-0 fs-6">{{ employeeForm.get("email")?.value }}</p>
    }
    <cura-input key="firstName" [isLoading]="isLoading" label="Vorname" [form]="employeeForm" placeholder="Vorname eingeben" />
    <cura-input key="lastName" [isLoading]="isLoading" label="Nachname" [form]="employeeForm" placeholder="Nachname eingeben" />
    <cura-input key="phone" [isLoading]="isLoading" label="Telefonnummer" [form]="employeeForm" placeholder="Telefonnummer eingeben" />

    <div class="form-group">
      <label class="fw-light" for="exampleFormControlSelect1">Mitarbeiterrolle</label>
      @if (isLoading) {
      <ngx-skeleton-loader />
      } @if (!isLoading) {
      <select formControlName="role" class="form-control" id="exampleFormControlSelect1">
        <option value="employee">Mitarbeiter</option>
        <option value="manager">Manager</option>
      </select>
      }
    </div>
  </div>

  <div class="row g-2 mt-2">
    <div class="col">
      <button [disabled]="!employeeForm.valid || isLoading || isSaving" type="submit" class="form-control btn btn-primary text-white">
        @if (isSaving) {
        <span class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
        }
        <span>Mitarbeiter {{ isNew ? "hinzufügen" : "speichern" }}</span>
        @if (isSaving) {
        <span>...</span>
        }
      </button>
    </div>
    <div class="col">
      <button type="button" [routerLink]="['/dashboard/employees']" class="form-control btn btn-outline-secondary">Verwerfen</button>
    </div>
  </div>
</form>
