<form (ngSubmit)="onSave()" [formGroup]="appointmentForm">
  <div class="row">
    <h4 class="h-underline">Termin {{ isNew ? "anlegen" : "bearbeiten" }}</h4>
    <!-- Customer -->
    <div class="form-group mb-2">
      <label for="selectCustomer">Kunde:</label>
      @if (isLoading) {
      <ngx-skeleton-loader />
      } @if (!isLoading) {
      <select
        class="form-select"
        id="selectCustomer"
        formControlName="customerId"
        [ngClass]="{
          'is-valid': appointmentForm.controls['customerId'].valid,
          'is-invalid': appointmentForm.controls['customerId'].invalid && appointmentForm.controls['customerId'].touched
        }"
      >
        @for (customer of customers; track customer) {
        <option [value]="customer.customerId">{{ customer.customerName }}</option>
        }
      </select>
      }
    </div>

    <!-- Employee -->
    <div class="form-group mb-2">
      <label for="selectEmployeeId">Bearbeitet von:</label>
      @if (isLoading) {
      <ngx-skeleton-loader />
      } @if (!isLoading) {
      <select
        class="form-select"
        id="selectEmployeeId"
        formControlName="employeeId"
        [ngClass]="{
          'is-valid': appointmentForm.controls['employeeId'].valid,
          'is-invalid': appointmentForm.controls['employeeId'].invalid && appointmentForm.controls['employeeId'].touched
        }"
      >
        @for (employee of employees; track employee) {
        <option [value]="employee.id">{{ employee.name }}</option>
        }
      </select>
      }
    </div>

    <!-- Employee replacement -->
    <div class="form-group mb-2">
      <label for="selectEmployeeReplacementId">Vertreten von:</label>
      @if (isLoading) {
      <ngx-skeleton-loader />
      } @if (!isLoading) {
      <select class="form-select" id="selectEmployeeReplacementId" formControlName="employeeReplacementId">
        <option></option>
        @for (employee of employees; track employee) {
        <option [value]="employee.id">{{ employee.name }}</option>
        }
      </select>
      }
    </div>

    <!-- Date  -->
    <div class="form-group mb-2">
      <label for="date">Datum:</label>
      @if (isLoading) {
      <ngx-skeleton-loader />
      } @if (!isLoading) {
      <div class="input-group">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <fa-icon [icon]="faCalendar" [fixedWidth]="true" />
        </button>
        <input class="form-control" [minDate]="minDate" placeholder="tt.mm.jjjj" name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker" />
      </div>
      }
    </div>

    <!-- Time  -->
    <div class="row">
      <div class="col-auto">
        <label for="date">Von:</label>
        <ngb-timepicker formControlName="timeStart" [minuteStep]="5" />
      </div>
      <div class="col-auto">
        <label for="date">Bis:</label>
        <ngb-timepicker formControlName="timeEnd" [minuteStep]="5" />
      </div>
    </div>

    @if(!isDone && (blockingAppointment$ | async)) {
    <div class="alert alert-warning mt-2" role="alert">
      <fa-icon [icon]="faCircleExclamation" /> Der Termin überschneidet sich mit einem anderen Termin und kann daher nicht angelegt werden
    </div>
    }

    <!-- Notes -->
    <div class="form-group mb-2">
      <label for="inputNotes">Notizen:</label>
      @if (isLoading) {
      <ngx-skeleton-loader count="4" />
      } @if (!isLoading) {
      <textarea class="form-control" formControlName="notes" rows="4" id="inputNotes" placeholder="Notizen"></textarea>
      }
    </div>

    <!-- Distance to customer -->
    @if (user?.companyRideCostsType === RideCostType.Kilometer) {
    <div class="form-group mb-2">
      <label for="inputDistanceToCustomer">Anfahrtsweg zum Kunden (in km):</label>
      @if (isLoading) {
      <ngx-skeleton-loader count="4" />
      } @if (!isLoading) {
      <input type="number" class="form-control" formControlName="distanceToCustomer" id="inputDistanceToCustomer" placeholder="Anfahrtsweg in km" />
      }
    </div>
    }

    <!-- used budget -->
    <div class="form-group mb-2">
      <label for="inputDistanceToCustomer">Abrechnungsoptionen:</label>
      @if(selectedCustomer == null) {
      <p class="fw-lighter">Bitte zunächst einen Kunden auswählen.</p>
      } @if(selectedCustomer?.doClearanceReliefAmount || existingAppointment?.clearanceType == clearanceType.reliefAmount) {
      <div class="form-check">
        <input
          (change)="onClearanceTypeChanged()"
          [(ngModel)]="selectedClearanceType"
          [ngModelOptions]="{ standalone: true }"
          class="form-check-input"
          id="radioReliefAmount"
          name="clearanceType"
          type="radio"
          [value]="clearanceType.reliefAmount"
          [disabled]="isExpired || (!canClearReliefAmount && !isPlanning)"
        />
        <label class="form-check-label" for="radioReliefAmount">
          Entlastungsbetrag §45b SGB XI <span class="fw-light"> - {{ initialBudget().reliefAmount | currency }}</span>
        </label>
      </div>
      } @if(selectedCustomer?.doClearanceCareBenefit || existingAppointment?.clearanceType == clearanceType.careBenefit) {
      <div class="form-check">
        <input
          (change)="onClearanceTypeChanged()"
          [(ngModel)]="selectedClearanceType"
          [ngModelOptions]="{ standalone: true }"
          class="form-check-input"
          id="radioCareBenefit"
          name="clearanceType"
          type="radio"
          [value]="clearanceType.careBenefit"
          [disabled]="isExpired || (!canClearCareBenefit && !isPlanning)"
        />
        <label class="form-check-label" for="radioCareBenefit">
          ..% Pflegesachleistungen §36 SGB XI (max. 40%) <span class="fw-light"> - {{ initialBudget().careBenefit | currency }}</span>
        </label>
      </div>
      } @if(selectedCustomer?.doClearancePreventiveCare || existingAppointment?.clearanceType == clearanceType.preventiveCare) {
      <div class="form-check">
        <input
          (change)="onClearanceTypeChanged()"
          [(ngModel)]="selectedClearanceType"
          [ngModelOptions]="{ standalone: true }"
          class="form-check-input"
          id="radioPreventiveCare"
          name="clearanceType"
          type="radio"
          [value]="clearanceType.preventiveCare"
          [disabled]="isExpired || (!canClearPreventiveCare && !isPlanning)"
        />
        <label class="form-check-label" for="radioPreventiveCare">
          Verhinderungspflege § 39 SGB XI <span class="fw-light"> - {{ initialBudget().preventiveCare | currency }}</span>
        </label>
      </div>
      } @if(selectedCustomer?.doClearanceSelfPayment || existingAppointment?.clearanceType == clearanceType.selfPayment) {
      <div class="form-check">
        <input
          (change)="onClearanceTypeChanged()"
          [(ngModel)]="selectedClearanceType"
          [ngModelOptions]="{ standalone: true }"
          class="form-check-input"
          id="radioSelfPayment"
          name="clearanceType"
          type="radio"
          [value]="clearanceType.selfPayment"
          [disabled]="isExpired || (!canClearSelfPayment && !isPlanning)"
        />
        <label class="form-check-label" for="radioSelfPayment">
          Selbstzahler <span class="fw-light"> - {{ initialBudget().selfPayment | currency }}</span>
        </label>
      </div>
      } @if (isPlanning) {
      <div class="alert alert-secondary mt-2" role="alert">
        <fa-icon [icon]="faCircleInfo" /> Dieser Termin wird für einen zukünftigen Monat geplant und erst dann mit dem gewählten Budget verrechnet.
      </div>
      } @else if (hasBudgetError) {
      <div class="alert alert-danger mt-2" role="alert">
        <fa-icon [icon]="faCircleExclamation" /> Die automatische Verrechnung konnte nicht durchgeführt werden, da das gewählte Budget aufgebraucht
        ist.
      </div>
      } @else if( !canClearCareBenefit && !canClearPreventiveCare && !canClearReliefAmount && !canClearSelfPayment) {
      <div class="alert alert-warning mt-2" role="alert">
        <fa-icon [icon]="faCircleExclamation" /> Das Budget für diesen Monat ist bereits aufgebraucht, weshalb der Termin leider nicht
        {{ isNew ? "angelegt" : "gespeichert" }} werden kann.
      </div>
      }
    </div>
  </div>

  @if (!isNew && appointmentForm.get('isDone')?.value != true && canSign()) {
  <div class="row g-2 mt-2">
    <div class="col">
      <button
        [disabled]="appointmentForm.get('isSignedByEmployee')?.value == true"
        type="button"
        (click)="openOffCanvas(employeeSignature)"
        [class.btn-outline-primary]="appointmentForm.get('isSignedByEmployee')?.value == false"
        [class.btn-outline-success]="appointmentForm.get('isSignedByEmployee')?.value == true"
        class="form-control btn h-100"
      >
        <span>Unterschrift Mitarbeiter</span>
        @if(appointmentForm.get('isSignedByEmployee')?.value == true) {
        <fa-icon [icon]="faCheck" class="text-success ms-2" />
        }
      </button>
    </div>
    <div class="col">
      <button
        [disabled]="appointmentForm.get('isSignedByCustomer')?.value == true"
        type="button"
        (click)="openOffCanvas(customerSignature)"
        [class.btn-outline-primary]="appointmentForm.get('isSignedByCustomer')?.value == false"
        [class.btn-outline-success]="appointmentForm.get('isSignedByCustomer')?.value == true"
        class="form-control btn h-100"
      >
        <span>Unterschrift Kunde</span>
        @if(appointmentForm.get('isSignedByCustomer')?.value == true) {
        <fa-icon [icon]="faCheck" class="text-success ms-2" />
        }
      </button>
    </div>
  </div>
  }
  <div class="row g-2 mt-2">
    <div class="col">
      <button
        [disabled]="!appointmentForm.valid || isLoading || isSaving || isChangingStatus"
        type="submit"
        class="form-control btn btn-primary text-white h-100"
      >
        @if (isSaving) {
        <span class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
        }
        <span>Termin {{ isNew ? "anlegen" : "speichern" }}</span>
        @if (isSaving) {
        <span>...</span>
        }
      </button>
    </div>

    @if (canFinish) {
    <div class="col">
      <button
        [disabled]="isSaving || isChangingStatus || !canFinish"
        type="button"
        (click)="onFinish()"
        class="form-control btn btn-outline-success h-100"
      >
        @if (isChangingStatus) {
        <span class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
        }
        <span>Termin abschließen</span>
        @if (isChangingStatus) {
        <span>...</span>
        }
      </button>
    </div>
    } @if (canOpen) {
    <div class="col">
      <button [disabled]="isSaving || isChangingStatus" type="button" (click)="onReopen()" class="form-control btn btn-outline-warning h-100">
        @if (isChangingStatus) {
        <span class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
        }
        <span>Termin öffnen</span>
        @if (isChangingStatus) {
        <span>...</span>
        }
      </button>
    </div>
    }
    <div class="col">
      <button type="button" routerLink=".." class="form-control btn btn-outline-secondary h-100">Verwerfen</button>
    </div>
  </div>
</form>

<ng-template #employeeSignature>
  <cura-signature
    [signatureName]="user!.firstName + ' ' + user!.lastName"
    title="Mitarbeiterunterschrift"
    (signatureTaken)="onEmployeeSigned($event)"
  />
</ng-template>

<ng-template #customerSignature>
  <cura-signature [signatureName]="selectedCustomer!.customerName" title="Kundenunterschrift" (signatureTaken)="onCustomerSigned($event)" />
</ng-template>
