<h4>Termin {{ isNew ? "anlegen" : "bearbeiten" }}</h4>
<form (ngSubmit)="onSave()" [formGroup]="appointmentForm">
  <!-- Customer -->
  <div class="form-group mb-4">
    <label for="selectCustomer">Kunde:</label>
    @if (isLoading) {
    <ngx-skeleton-loader />
    } @if (!isLoading) {
    <select
      class="form-select"
      id="selectCustomer"
      formControlName="customerId"
      [ngClass]="{
        'is-valid': appointmentForm.controls['customerId'].valid,
        'is-invalid': appointmentForm.controls['customerId'].invalid && appointmentForm.controls['customerId'].touched
      }"
    >
      @for (customer of customers; track customer) {
      <option [value]="customer.id">{{ customer.firstName }} {{ customer.lastName }}</option>
      }
    </select>
    }
  </div>

  <!-- Employee -->
  <div class="form-group mb-4">
    <label for="selectEmployeeId">Bearbeitet von:</label>
    @if (isLoading) {
    <ngx-skeleton-loader />
    } @if (!isLoading) {
    <select
      class="form-select"
      id="selectEmployeeId"
      formControlName="employeeId"
      [ngClass]="{
        'is-valid': appointmentForm.controls['employeeId'].valid,
        'is-invalid': appointmentForm.controls['employeeId'].invalid && appointmentForm.controls['employeeId'].touched
      }"
    >
      @for (employee of employees; track employee) {
      <option [value]="employee.id">{{ employee.name }}</option>
      }
    </select>
    }
  </div>

  <div class="form-group mb-4">
    <label for="selectEmployeeReplacementId">Vertreten von:</label>
    @if (isLoading) {
    <ngx-skeleton-loader />
    } @if (!isLoading) {
    <select class="form-select" id="selectEmployeeReplacementId" formControlName="employeeReplacementId">
      <option></option>
      @for (employee of employees; track employee) {
      <option [value]="employee.id">{{ employee.name }}</option>
      }
    </select>
    }
  </div>

  <!-- Date  -->
  <div class="form-group mb-4">
    <label for="date">Datum:</label>
    @if (isLoading) {
    <ngx-skeleton-loader />
    } @if (!isLoading) {
    <div class="input-group">
      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
        <fa-icon [icon]="faCalendar" [fixedWidth]="true" />
      </button>
      <input class="form-control" placeholder="tt.mm.jjjj" name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker" />
    </div>
    }
  </div>

  <!-- Time  -->
  <div class="row">
    <div class="col-auto">
      <label for="date">Von:</label>
      <ngb-timepicker formControlName="timeStart" [minuteStep]="5" />
    </div>
    <div class="col-auto">
      <label for="date">Bis:</label>
      <ngb-timepicker formControlName="timeEnd" [minuteStep]="5" />
    </div>
  </div>

  <!-- Notes -->
  <div class="form-group mb-4">
    <label for="inputNotes">Notizen:</label>
    @if (isLoading) {
    <ngx-skeleton-loader count="4" />
    } @if (!isLoading) {
    <textarea class="form-control" formControlName="notes" rows="4" id="inputNotes" placeholder="Notizen"></textarea>
    }
  </div>

  <!-- Distance to customer -->
  @if (user?.companyRideCostsType === RideCostType.Kilometer) {
  <div class="form-group mb-4">
    <label for="inputDistanceToCustomer">Anfahrtsweg zum Kunden (in km):</label>
    @if (isLoading) {
    <ngx-skeleton-loader count="4" />
    } @if (!isLoading) {
    <input type="number" class="form-control" formControlName="distanceToCustomer" id="inputDistanceToCustomer" placeholder="Anfahrtsweg in km" />
    }
  </div>
  }

  <!-- Signatures -->
  <!-- <div class="form-group mb-4">
  <label for="inputNotes">Unterschriften:</label>
  <div class="input-group" style="cursor: pointer">
    <span class="input-group-text" (click)="toggleIsSignedByCustomer()">Kunde</span>
    <div class="input-group-text bg-white px-3" (click)="toggleIsSignedByCustomer()">
      <input type="checkbox" formControlName="isSignedByCustomer" #checkSignatureCustomer />
    </div>
    <span class="input-group-text" (click)="toggleIsSignedByEmployee()">Mitarbeiter</span>
    <div class="input-group-text bg-white px-3" (click)="toggleIsSignedByEmployee()">
      <input type="checkbox" formControlName="isSignedByEmployee" />
    </div>
  </div>
</div> -->

  <button [disabled]="!appointmentForm.valid || isLoading || isSaving || isFinishing" type="submit" class="btn btn-primary text-white" style="margin-left: 0 !important; margin-right: 1em">
    @if (isSaving) {
    <span class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
    }
    <span>Termin {{ isNew ? "anlegen" : "speichern" }}</span>
    @if (isSaving) {
    <span>...</span>
    }
  </button>
  @if (!isNew && !isDone) {
  <button [disabled]="isSaving || isFinishing || !canFinish" type="button" (click)="onFinish()" class="btn btn-outline-success" style="margin-right: 1em">
    @if (isFinishing) {
    <span class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
    }
    <span>Termin abschließen</span>
    @if (isFinishing) {
    <span>...</span>
    }
  </button>
  }
  <button type="button" [routerLink]="['/dashboard/appointments']" class="btn btn-outline-secondary">Verwerfen</button>
</form>
