<div class="p-3">
  <div class="d-lg-none offcanvas-header p-0 border-bottom mb-3">
    <div>
      <img ngbAutofocus src="../assets/img/logo_text.png" alt="Logo" height="30" class="m-2" />
      <span style="font-size: 0.5em; opacity: 0.5">0.1</span>
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>

  <ul class="nav nav-pills flex-column mb-auto">
    @if (isManager) {
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/employees" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faUsersGear" [fixedWidth]="true" />
        Mitarbeiter
      </a>
    </li>
    }
    <li>
      <a class="nav-link" routerLink="/dashboard/customers" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faPersonCane" [fixedWidth]="true" />
        Kunden
      </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/dashboard/appointments" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faCalendar" [fixedWidth]="true" />
        Termine
      </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/dashboard/documents" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faFile" [fixedWidth]="true" />
        Dokumente
      </a>
    </li>

    <!-- separator -->
    <div clasS="my-2"></div>

    @if(isManager) {
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/budgets" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faCoins" [fixedWidth]="true" />
        Budgets
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/company" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faPersonShelter" [fixedWidth]="true" />
        Unternehmensdaten
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/insurances" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faBuilding" [fixedWidth]="true" />
        Versicherungen
      </a>
    </li>
    }
  </ul>
</div>
