<div class="d-flex flex-column flex-shrink-0 p-3 bg-white border" style="width: 280px; height: 100%">
  <ul class="nav nav-pills flex-column mb-auto">
    <li *ngIf="isManager" class="nav-item">
      <a class="nav-link" routerLink="/dashboard/employee" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faUsersGear" [fixedWidth]="true" />
        Mitarbeiter
      </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/dashboard/customer" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faPersonCane" [fixedWidth]="true" />
        Kunden
      </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/dashboard/appointment" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faCalendar" [fixedWidth]="true" />
        Termine
      </a>
    </li>
    <!-- <li>
      <a href="#" class="nav-link link-dark">
        <fa-icon [icon]="faUserClock" [fixedWidth]="true" />
        Arbeitszeiterfassung
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <fa-icon [icon]="faClipboard" [fixedWidth]="true" />
        Einsatznachweise
      </a>
    </li> -->
    <div clasS="my-2"></div>
    <li *ngIf="isManager" class="nav-item">
      <a class="nav-link" routerLink="/dashboard/insurance" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faBuilding" [fixedWidth]="true" />
        Versicherungen
      </a>
    </li>
  </ul>
</div>
