<div class="d-flex flex-column flex-shrink-0 p-3 bg-white border" style="width: 280px; height: 100%">
  <ul class="nav nav-pills flex-column mb-auto">
    @if (isManager) {
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/employees" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faUsersGear" [fixedWidth]="true" />
        Mitarbeiter
      </a>
    </li>
    }
    <li>
      <a class="nav-link" routerLink="/dashboard/customers" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faPersonCane" [fixedWidth]="true" />
        Kunden
      </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/dashboard/appointments" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faCalendar" [fixedWidth]="true" />
        Termine
      </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/dashboard/deployment" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faClipboard" [fixedWidth]="true" />
        Einsatznachweise
      </a>
    </li>
    <!-- <li>
    <a href="#" class="nav-link link-dark">
      <fa-icon [icon]="faUserClock" [fixedWidth]="true" />
      Arbeitszeiterfassung
    </a>
  </li>-->

    <div clasS="my-2"></div>
    @if(isManager) {
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/company" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faPersonShelter" [fixedWidth]="true" />
        Unternehmensdaten
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/insurances" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faBuilding" [fixedWidth]="true" />
        Versicherungen
      </a>
    </li>
    }
  </ul>
</div>
