<h4 [class.h-underline]="!user?.isManager">Kundenliste</h4>

@if (user?.isManager) {
<Button type="button" [routerLink]="['/dashboard/customers/new']" class="btn btn-primary btn-block mb-3 w-100">Kunden hinzufügen</Button>
}

<!-- Filter -->
@if (user?.isManager) {

<div class="form-group p-0">
  <label class="fw-light" for="dpFromDate">Mitarbeiter</label>
  <cura-employee-select [(selectedEmployeeId)]="selectedEmployeeId" />
</div>
<div class="form-check form-switch m-2">
  <input
    class="form-check-input"
    type="checkbox"
    role="switch"
    [(ngModel)]="showInactiveCustomers"
    (change)="onFilterChanged()"
    id="checkShowInactiveCustomers"
  />
  <label class="form-check-label fw-light" for="checkShowInactiveCustomers"> Nur ehemalige Kunden anzeigen</label>
</div>
}

<div class="p-0 pb-3 container">
  <div class="row g-3">
    @for (customer of customers(); track customer.id) {
    <cura-customer-list-entry
      [customer]="customer"
      class="col-12 col-lg-6 col-xxl-4"
      [routerLink]="['/dashboard/customers/', customer.id]"
      [isLoading]="isLoading()"
      [isManager]="user!.isManager"
      (onDelete)="handleDelete($event)"
      (onNavigate)="handleNavigate($event)"
      (onShowAppointments)="handleShowAppointments($event)"
      (onShowDeploymentReports)="handleShowDeploymentReports($event)"
      (onShowInvoices)="handleShowInvoices($event)"
    />
    }
  </div>
</div>

@if(customers().length === 0) {
<cura-info>Es wurden keine Kunden gefunden</cura-info>
}

<!-- paging -->
<cura-paging [page]="page()" (pageChange)="onPageChange($event)" />
