<div class="card">
  <div class="card-body" style="position: relative">
    <div class="my-2 ms-2">
      <cura-portrait [initials]="initials()"></cura-portrait>
      <p class="fs-5 p-0 my-0 text-truncate me-50">{{ customer()?.lastName }}, {{ customer()?.firstName }}</p>
      <p class="fw-light m-0">Hinzugefügt am: {{ customer()?.createdAt | date }}</p>
    </div>
    <!-- buttons -->
    <div class="input-group button-tab">
      <button type="button" class="btn btn-outline-secondary btn-sm" title="Interessenten bearbeiten">
        <fa-icon [icon]="['fas', 'gear']" [fixedWidth]="true" />
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary btn-sm"
        (click)="onDelete.emit(customer()!); $event.stopPropagation()"
        title="Interessenten löschen"
      >
        <fa-icon [icon]="['far', 'trash-can']" [fixedWidth]="true" />
      </button>
    </div>
  </div>
</div>
