button {
  border-color: #d2d2d2;
}

.button-tab {
  position: absolute;
  top: -1px;
  right: -1px;
  width: auto;
}

.me-50 {
  margin-right: 50px;
}

.card:hover {
  box-shadow: 0px 0px 4px var(--bs-primary);
  cursor: pointer;
}

.card {
  box-shadow: 5px 5px 6px #f0f0f0;
}
