@if (isLoading || error) {
<div class="container" style="height: 100lvh; max-width: 100%; background-color: #eee">
  <div class="row align-items-center h-100">
    <div clasS="col">
      @if (isLoading) {
      <div class="card mx-auto p-5" style="width: 18rem">
        <div class="spinner-border mx-auto m-3 text-primary" style="width: 8rem; height: 8rem" role="status"></div>
        <p style="text-align: center">Curacaru wird geladen...</p>
      </div>
      } @if (error) {
      <div class="card mx-auto text-danger" style="width: 20rem">
        <div class="card-header bg-danger text-white">Fehler</div>
        <div class="card-body">
          <p style="text-align: center">Ein unerwarteter Fehler ist aufgetreten: {{ error.status }} {{ error.statusText }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
} @if (hasCompany) {
<div class="bg-white">
  <cura-topbar />
  <main>
    <div class="d-none d-lg-block d-flex flex-column flex-shrink-0 bg-white shadow-right me-2 sidebar">
      <cura-sidebar style="position: fixed" />
    </div>
    <div class="w-100 bg-white rounded overflow-auto">
      <div class="container p-4">
        <router-outlet></router-outlet>
        <cura-loader></cura-loader>
      </div>
    </div>
  </main>
</div>
} @else { @if (!isLoading) {
<cura-signup style="height: 100vh" (signUpCompleted)="handleSignUpCompleted()"></cura-signup>
} }
