@if (isLoading || error) {
<div class="container h-100">
  <div class="row align-items-center h-100">
    <div clasS="col">
      @if (isLoading) {
      <div class="card mx-auto p-5" style="width: 18rem">
        <div class="spinner-border mx-auto m-3 text-primary" style="width: 8rem; height: 8rem" role="status"></div>
        <p style="text-align: center">Curacaru wird geladen...</p>
      </div>
      } @if (error) {
      <div class="card mx-auto text-danger" style="width: 20rem">
        <div class="card-header bg-danger text-white">Fehler</div>
        <div class="card-body">
          <p style="text-align: center">Ein unerwarteter Fehler ist aufgetreten: {{ error.status }} {{ error.statusText }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
} @if (hasCompany) {
<div>
  <cura-topbar />
  <main style="height: calc(100vh - 60px)">
    <cura-sidebar />
    <div class="w-100 bg-white rounded overflow-auto border-top">
      <div class="container-fluid p-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div>
} @else { @if (!isLoading) {
<cura-signup style="height: 100vh" (signUpCompleted)="handleSignUpCompleted()"></cura-signup>
} }
