/* You can add global styles to this file, and also import other style files */
$primary: #ff7f02;

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "ngx-toastr/toastr-bs5-alert";

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #eee;
}

html {
  height: -webkit-fill-available;
}

body {
  height: 100%;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.gradient {
  /* fallback for old browsers */
  background: #ff7f02;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ff7f02, #ffbe7c);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ff7f02, #ffbe7c);
}
