/* You can add global styles to this file, and also import other style files */
$primary: #ff7f02;

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "ngx-toastr/toastr-bs5-alert";

body {
  height: -webkit-fill-available;
  background-color: #fff;
  height: 100%;
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
  background-color: #aaa;
  height: 100%;
  overflow: hidden;
}

.noSelect {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: calc(100% - 60px);
  overflow-y: auto;
  position: absolute;
  top: 60px;
  width: 100%;
}

select {
  /* important on safari to hide too long text */
  overflow-x: hidden;
}

.status-bullet {
  border-radius: 8px;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.h-underline {
  padding-bottom: 10px;
  border-bottom: 2px solid $primary;
}

.gradient {
  /* fallback for old browsers */
  background: #ff7f02;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ff7f02, #ffbe7c);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ff7f02, #ffbe7c);
}

.ngb-dp-weekday {
  color: $secondary !important;
}

::placeholder {
  opacity: 0.3 !important;
}

.text-muted {
  opacity: 0.6 !important;
}

.signature-panel {
  height: min(100vh, 350px) !important;
  margin: auto;
}

.offcanvas-signature {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-primary {
  color: #fff !important;
}

.btn-primary:focus,
.btn-outline-primary:focus {
  color: #ff7f02 !important;
}

.btn-primary:hover,
.btn-outline-primary:hover,
.btn-outline-primary:hover:focus {
  color: #fff !important;
}

.btn-outline-primary:active {
  color: #fff !important;
}
