@if (isLoading()) {
<ngx-skeleton-loader />
} @else {

<div class="row">
  <h4 class="h-underline">{{ isCustomer() ? "Kunde" : "Interessenten" }} {{ isNew ? "hinzufügen" : "bearbeiten" }}</h4>

  <form (ngSubmit)="handleSave()" [formGroup]="customerForm">
    <p class="mt-3 mb-2 fs-4 fw-light text-secondary">Dienstdaten</p>

    <div class="row">
      <!-- status -->
      <div class="form-group mb-2 col-md-6 col-sm-12">
        <label class="fw-light" for="selectCustomerStatus">Kundenstatus:</label><br />
        @if(!isCustomer()) {
        <input type="radio" class="btn-check" id="option_prospect" [value]="0" formControlName="status" />
        <label class="btn" for="option_prospect">Interessent</label>
        }

        <input type="radio" class="btn-check" id="option_customer" [value]="1" formControlName="status" />
        <label class="btn" for="option_customer">Kunde</label>

        @if(isCustomer()) {
        <input type="radio" class="btn-check" id="option_former" [value]="0" formControlName="status" />
        <label class="btn" for="option_former">Ehemaliger Kunde</label>
        }
      </div>

      <!-- employee -->
      @if(customerForm.get("status")?.value !== customerStatus.Interested) {
      <div class="col-md-6 col-sm-12 form-group mb-2">
        <label class="fw-light" for="selectAssociatedEmployeeId">Bearbeitet von:</label>
        <cura-employee-select formControlName="associatedEmployeeId" [formGroup]="customerForm" />
      </div>
      }

      <!-- products -->
      <label class="fw-light" for="selectSalutation">Betreuungsleistungen</label>
      <div formArrayName="products" class="row">
        @for (control of productsGroup.controls; track control) {
        <div class="form-group mb-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 text-truncate" [formGroupName]="$index">
          <div class="form-check">
            <input class="form-check-input" formControlName="isSelected" type="checkbox" [id]="'check-product-' + control.value!.id" />
            <label class="form-check-label" [for]="'check-product-' + control.value!.id">
              {{ control.value!.name }}
            </label>
          </div>
        </div>
        }
      </div>

      <p class="mt-3 mb-2 fs-4 fw-light text-secondary">Persönliche Daten</p>

      <!-- salutation -->
      <div class="col-md-6 col-sm-12 form-group mb-2">
        <label class="fw-light" for="selectSalutation">Anrede</label><br />

        <input type="radio" class="btn-check" id="option_ms" [value]="0" formControlName="salutation" />
        <label class="btn" for="option_ms">Frau</label>

        <input type="radio" class="btn-check" id="option_mr" [value]="1" formControlName="salutation" />
        <label class="btn" for="option_mr">Herr</label>
        <!-- <select class="form-select" id="selectSalutation" formControlName="salutation">
          <option [ngValue]="0">Frau</option>
          <option [ngValue]="1">Herr</option>
        </select> -->
      </div>

      <div class="w-100 d-none d-md-block"></div>

      <!-- first name -->
      <cura-input class="col-md-6 col-sm-12" [maxLength]="50" key="firstName" label="Vorname" [form]="customerForm" placeholder="Vornamen eingeben" />
      <!-- last name -->
      <cura-input
        class="col-md-6 col-sm-12"
        [maxLength]="50"
        key="lastName"
        label="Nachname"
        [form]="customerForm"
        placeholder="Nachnamen eingeben"
      />

      <!-- street -->
      <cura-input
        key="street"
        class="col-md-6 col-sm-12"
        [maxLength]="150"
        label="Straße und Hausnummer"
        [form]="customerForm"
        placeholder="Straße und Hausnummer eingeben"
      />

      <!-- zip code and city-->
      <div class="form-group mb-2 col-md-6 col-sm-12">
        <label class="fw-light" for="inputZipCode">Postleitzahl</label>

        <div class="input-group">
          <input
            type="text"
            [ngClass]="{
              'is-valid': customerForm.controls['zipCode'].valid && customerForm.controls['zipCode'].dirty,
              'is-invalid': customerForm.controls['zipCode'].invalid && customerForm.controls['zipCode'].touched
            }"
            maxlength="5"
            class="form-control"
            sa
            formControlName="zipCode"
            id="inputZipCode"
            placeholder="PLZ eingeben"
          />
          <span class="input-group-text">{{ cityName() }}</span>
        </div>
      </div>

      <cura-input key="birthDate" class="col-md-6 col-sm-12" label="Geburtsdatum" [form]="customerForm" placeholder="Datum wählen" type="date" />

      <div class="w-100 d-none d-md-block"></div>

      <cura-input
        class="col-md-6 col-sm-12"
        [maxLength]="50"
        key="phone"
        label="Telefonnummer"
        [form]="customerForm"
        placeholder="Telefonnummer eingeben"
      />

      <p class="mt-3 mb-2 fs-4 fw-light text-secondary">Notfallkontakt</p>

      <!-- Notfallkontakt -->
      <div class="form-group mb-2 col-md-6 col-sm-12">
        <label class="fw-light" for="inputEmergencyContactName">Kontaktperson</label>
        <input
          type="text"
          class="form-control"
          maxlength="150"
          formControlName="emergencyContactName"
          id="inputEmergencyContactName"
          placeholder="Namen eingeben"
        />
      </div>

      <div class="form-group mb-2 col-md-6 col-sm-12">
        <label class="fw-light" for="inputEmergencyContactPhone">Telefonnummer</label>
        <input
          type="text"
          class="form-control"
          maxlength="50"
          formControlName="emergencyContactPhone"
          id="inputEmergencyContactPhone"
          placeholder="Telefonnummer eingeben"
        />
      </div>

      <p class="mt-3 mb-2 fs-4 fw-light text-secondary">Versicherungsdaten</p>

      <!-- Versicherung -->
      <div class="col-md-6 col-sm-12 form-group mb-3">
        <label class="fw-light" for="inputInsurance">Krankenkasse</label>

        <ng-template #rt let-r="result" let-t="term">
          <p class="text-truncate">
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
            <br />
            <small><ngb-highlight [result]="r.institutionCode" [term]="t"></ngb-highlight></small>
          </p>
        </ng-template>

        <input
          [disabled]="!isManager()"
          id="inputInsurance"
          [resultTemplate]="rt"
          type="text"
          class="form-control"
          [(ngModel)]="selectedInsurance"
          [inputFormatter]="insuranceFormatter"
          [resultFormatter]="insuranceFormatter"
          [popupClass]="'overflow-auto height-250 mw-90 popup'"
          [ngClass]="{
            'is-valid':
              customerForm.controls['insuranceId'].valid &&
              customerForm.controls['insuranceId'].value != '' &&
              customerForm.controls['insuranceId'].value != undefined &&
              customerForm.controls['careLevel'].dirty,
            'is-invalid': customerForm.controls['insuranceId'].invalid && customerForm.controls['insuranceId'].touched
          }"
          [ngbTypeahead]="searchInsurance"
          placeholder="Krankenkasse oder IK-Nummer"
          [editable]="false"
          [ngModelOptions]="{ standalone: true }"
        />
        @if(selectedInsurance) { <small class="form-text text-muted ms-2">IK-Nummer: {{ selectedInsurance.institutionCode }}</small> }
      </div>

      <div class="col-md-6 col-sm-12 form-group mb-3">
        <label class="fw-light" for="inputInsuredPersonNumber">Versichertennummer</label>
        <input
          type="text"
          maxlength="10"
          [ngClass]="{
            'is-valid':
              customerForm.controls['insuredPersonNumber'].valid &&
              customerForm.controls['insuredPersonNumber'].value != '' &&
              customerForm.controls['careLevel'].dirty,
            'is-invalid': customerForm.controls['insuredPersonNumber'].invalid && customerForm.controls['insuredPersonNumber'].touched
          }"
          class="form-control"
          formControlName="insuredPersonNumber"
          id="inputInsuredPersonNumber"
          placeholder="Versichertennummer"
        />
      </div>

      <div
        class="col-md-6 col-sm-12 form-group mb-3 border-danger"
        [ngClass]="{ 'invalid border-bottom': customerForm.get('insuranceStatus')?.valid === false && customerForm.get('insuranceStatus')?.enabled }"
      >
        <label class="fw-light">Versicherungsstatus</label><br />

        <input type="radio" class="btn-check" id="option_statutory" [value]="0" formControlName="insuranceStatus" />
        <label class="btn" for="option_statutory">Gesetzlich</label>

        <input type="radio" class="btn-check" id="option_private" [value]="1" formControlName="insuranceStatus" />
        <label class="btn" for="option_private">Privat</label>

        <input type="radio" class="btn-check" id="option_selfpay" [value]="2" formControlName="insuranceStatus" />
        <label class="btn" for="option_selfpay">Selbstzahler</label>
      </div>

      <!-- Pflegegrad -->
      <div class="col-md-6 col-sm-12 form-group mb-3">
        <label class="fw-light">Pflegegrad</label><br />

        <input type="radio" class="btn-check" id="option_level0" [value]="0" formControlName="careLevel" />
        <label class="btn" for="option_level0">Kein Pflegegrad</label>

        <input type="radio" class="btn-check" id="option_level1" [value]="1" formControlName="careLevel" />
        <label class="btn" for="option_level1">1</label>

        <input type="radio" class="btn-check" id="option_level2" [value]="2" formControlName="careLevel" />
        <label class="btn" for="option_level2">2</label>

        <input type="radio" class="btn-check" id="option_level3" [value]="3" formControlName="careLevel" />
        <label class="btn" for="option_level3">3</label>

        <input type="radio" class="btn-check" id="option_level4" [value]="4" formControlName="careLevel" />
        <label class="btn" for="option_level4">4</label>

        <input type="radio" class="btn-check" id="option_level5" [value]="5" formControlName="careLevel" />
        <label class="btn" for="option_level5">5</label>
      </div>

      <div class="form-group">
        <label class="fw-light">Abrechnungsoptionen</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="doClearanceSelfPayment" id="checkDoClearanceSelfPayment" />
          <label class="form-check-label" for="checkDoClearanceSelfPayment"> Selbstzahler</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="doClearanceReliefAmount" id="checkDoClearanceReliefAmount" />
          <label class="form-check-label" for="checkDoClearanceReliefAmount"> Entlastungsbetrag §45b SGB XI</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="doClearanceCareBenefit" id="checkDoClearanceCareBenefit" />
          <label class="form-check-label" for="checkDoClearanceCareBenefit"> ..% Pflegesachleistungen §36 SGB XI (max. 40%)</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="doClearancePreventiveCare" id="checkDoClearancePreventiveCare" />
          <label class="form-check-label" for="checkDoClearancePreventiveCare"> Verhinderungspflege § 39 SGB XI</label>
        </div>
      </div>

      <div class="row g-2 mt-2">
        <div class="col">
          <button [disabled]="isLoading() || isSaving()" type="submit" class="btn btn-primary form-control text-white h-100">
            @if (isSaving()) {
            <span class="spinner-border spinner-border-sm mx-2" aria-hidden="true"></span>
            }
            <span>{{ isCustomer() ? "Kunde" : "Interessenten" }} {{ isNew ? "hinzufügen" : "speichern" }}</span>
            @if (isSaving()) {
            <span>...</span>
            }
          </button>
        </div>
        <div class="col">
          <button
            type="button"
            [routerLink]="[isCustomer() ? '/dashboard/customers' : '/dashboard/base-data/prospects']"
            class="form-control btn btn-outline-secondary h-100"
          >
            Verwerfen
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

}
