<div class="container-fluid p-4">
  <div class="row">
    <h4>Mitarbeiterliste</h4>
    <Button type="button" [routerLink]="['/dashboard/employee/new']" class="btn btn-primary text-white btn-block">Mitarbeiter hinzufügen</Button>
    <table class="col-12 table mt-3 table-striped">
      <thead>
        <tr>
          <th scope="col">Vorname</th>
          <th scope="col">Nachname</th>
          <th scope="col">Telefonnummer</th>
          <th scope="col">E-Mail</th>
          <th scope="col">Rolle</th>
          <th scope="col">Aktion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.phoneNumber }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.isManager ? "Manager" : "Mitarbeiter" }}</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" [routerLink]="['/dashboard/employee', employee.id]" class="btn btn-outline-secondary btn-sm" title="Mitarbeiter bearbeiten">
                <fa-icon [icon]="faGear" [fixedWidth]="true" />
              </button>
              <button type="button" (click)="handleDelete(employee)" class="btn btn-outline-secondary btn-sm" title="Mitarbeiter löschen">
                <fa-icon [icon]="faTrashCan" [fixedWidth]="true" />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
