:host {
  height: 100%;
}

canvas {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.submitButtonHorizontal {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 95px;
}

.submitButtonVertical {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 35px;
  width: 100%;
}

.icon-eraser {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  cursor: pointer;
}

.signing-name {
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

.sign-here {
  position: absolute;
  bottom: 15%;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  border-top: 1px solid black;
  font-size: 0.6em;
}

.tool-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
